.gs-container {
	background-color: #313646!important
}

.gs-separator {
	border-color: transparent!important;
	border-style: solid;
	border-bottom-width: 0px;
}

.gs-col1-separator {
	margin-top: 10px;
	margin-bottom: 10px
}

.gs-col3-separator {
	margin-top: 40px;
	margin-bottom: 40px
}

.gs-col2-block {
	left: 12.5%!important;
}

.gs-col3-block {
	float: right!important
}


/*
.mkd-separator-holder{position:relative;height:auto;font-size:0;line-height:1em}
.mkd-separator-holder.mkd-separator-center{text-align:center}
.mkd-separator-holder.mkd-separator-left{text-align:left}
.mkd-separator-holder.mkd-separator-right{text-align:right}
.mkd-separator-holder.mkd-separator-full-width .mkd-separator{width:100%!important}
.mkd-separator{position:relative;display:inline-block;vertical-align:middle;border-bottom:1px solid #54ddd1;margin:10px 0}
*/

.gs-logo {
	height: 60px
}

.gs-button {
	color: #ffffff;
	background-color: #F0691B!important; 
	border-color: #F0691B!important;
}

.gs-text {
	color: #ffffff;
}