$hdr-font-color: black;
$hdr-font-stack: 'Poppins', sans-serif;/* 'Muli', sans-serif, 'Poppins', sans-serif, 'Quicksand', sans-serif, 'Hind', sans-serif;*/
$hdr-font-size: 17px;
$hdr-font-color-hv: #F0691B;
$home-hdr-font-color: white;

$slider-font-stack: 'Muli', sans-serif;

$title-text-font-stack: 'Poppins', sans-serif;
$text-font-stack: 'Muli', sans-serif;

/* Header CSS */
.gs-logo-hdr {
  height: 46px;
}

.gs-hdr-text {
  color: $hdr-font-color;
  font-family: $hdr-font-stack;
  font-size: $hdr-font-size;
}

.gs-hdr-text:hover {
  color: $hdr-font-color-hv;
}

.gs-home-hdr-text {
  color: $home-hdr-font-color;
  font-family: $hdr-font-stack;
  font-size: $hdr-font-size;
}

.gs-home-hdr-text:hover {
  color: $hdr-font-color-hv;
}

/* Slider CSS */

.gs-slider-lyr1 {
  z-index: 5; 
  white-space: nowrap; 
  font-size: 140px; 
  line-height: 150px; 
  font-weight: 900; 
  color: #ffffff!important; 
  letter-spacing: 5px;
  font-family: $hdr-font-stack;
  /*ext-transform:lowercase;*/
  letter-spacing:0.04em;
}

.gs-slider-lyr3 {
  z-index: 7; 
  white-space: nowrap; 
  font-size: 20px; 
  line-height: 40px; 
  font-weight: 400; 
  color: #ffffff; 
  letter-spacing: 2px;
  font-family: $slider-font-stack;
  /*text-transform:lowercase;*/
}

.gs-slider-lyr4 {
  z-index: 8; 
  white-space: nowrap; 
  font-size: 20px; 
  line-height: 22px; 
  font-weight: 600; 
  color: #ffffff; 
  letter-spacing: 0px;
  font-family:Raleway;
}

.gs-slider-btn {
  color: #ffffff!important; 
  background-color: #F0691B!important; 
   border-color: #F0691B!important;
}

/* Footer CSS */

.gs-container {
  background-color: #313646!important
}

.gs-separator {
  border-color: transparent!important;
  border-style: solid;
  border-bottom-width: 0px;
}

.gs-col1-separator {
  margin-top: 10px;
  margin-bottom: 10px
}

.gs-col3-separator {
  margin-top: 40px;
  margin-bottom: 40px
}

.gs-col2-block {
  left: 12.5%!important;
}

.gs-col3-block {
  float: right!important
}

.gs-fb-icon {
  color: white;
}

.gs-fb-icon:hover {
  color: #F0691B;
}

.gs-logo {
  height: 60px
}

.gs-button {
  color: #ffffff;
  background-color: #F0691B!important; 
  border-color: #F0691B!important;
}

.gs-footer-text {
  color: #ffffff;
  font-family: $text-font-stack;
}

.gs-footer-title-text {
  color: #ffffff;
  font-family: $title-text-font-stack;
  font-size: 25px;
}

.gs-link {
  color: #9d9df9;
  text-decoration: underline;
  text-decoration-color: #9d9df9;
}


/* Index */

.gs-article-size {
  width: 50%!important;
}

.gs-title-text {
  color: black;
  font-family: $title-text-font-stack;
  a:hover {
    color: $hdr-font-color-hv!important;
  }
  a{
    font-size: 18px;
    font-weight: bold;
  }
}

.gs-subhdr-text {
  color: #7f8999;
  font-family: $text-font-stack;  
  font-size: 16x;
}

.gs-text {
  color: #7f8999;
  font-family: $text-font-stack;  
  a:hover{
    color: $hdr-font-color-hv!important;
  }
}

.arrow-icon {
  color: black;
}

.arrow-icon:hover {
  color: #F0691B;
}

