$hdr-font-color: black;
$hdr-font-stack: 'Poppins', sans-serif;/* 'Muli', sans-serif, 'Poppins', sans-serif, 'Quicksand', sans-serif, 'Hind', sans-serif;*/
$hdr-font-size: 17px;

$home-hdr-font-color: white;

$slider-font-stack: 'Muli', sans-serif;

/* Header CSS */
.gs-logo-hdr {
  height: 46px;
}

.gs-hdr-text {
  color: $hdr-font-color;
  font-family: $hdr-font-stack;
  font-size: $hdr-font-size;
}

.gs-home-hdr-text {
  color: $home-hdr-font-color;
  font-family: $hdr-font-stack;
  font-size: $hdr-font-size;
}

/* Slider CSS */

.gs-slider-lyr1 {
  z-index: 5; 
  white-space: nowrap; 
  font-size: 140px; 
  line-height: 150px; 
  font-weight: 900; 
  color: #ffffff!important; 
  letter-spacing: 5px;
  font-family: $hdr-font-stack;
  /*ext-transform:lowercase;*/
  letter-spacing:0.04em;
}

.gs-slider-lyr3 {
  z-index: 7; 
  white-space: nowrap; 
  font-size: 20px; 
  line-height: 40px; 
  font-weight: 400; 
  color: #ffffff; 
  letter-spacing: 2px;
  font-family: $slider-font-stack;
  /*text-transform:lowercase;*/
}

.gs-slider-lyr4 {
  z-index: 8; 
  white-space: nowrap; 
  font-size: 20px; 
  line-height: 22px; 
  font-weight: 600; 
  color: #ffffff; 
  letter-spacing: 0px;
  font-family:Raleway;
}

.gs-slider-btn {
  color: #ffffff!important; 
  background-color: #F0691B!important; 
   border-color: #F0691B!important;
}

/* Footer CSS */

.gs-container {
  background-color: #313646!important
}

.gs-separator {
  border-color: transparent!important;
  border-style: solid;
  border-bottom-width: 0px;
}

.gs-col1-separator {
  margin-top: 10px;
  margin-bottom: 10px
}

.gs-col3-separator {
  margin-top: 40px;
  margin-bottom: 40px
}

.gs-col2-block {
  left: 12.5%!important;
}

.gs-col3-block {
  float: right!important
}


/*
.mkd-separator-holder{position:relative;height:auto;font-size:0;line-height:1em}
.mkd-separator-holder.mkd-separator-center{text-align:center}
.mkd-separator-holder.mkd-separator-left{text-align:left}
.mkd-separator-holder.mkd-separator-right{text-align:right}
.mkd-separator-holder.mkd-separator-full-width .mkd-separator{width:100%!important}
.mkd-separator{position:relative;display:inline-block;vertical-align:middle;border-bottom:1px solid #54ddd1;margin:10px 0}
*/

.gs-logo {
  height: 60px
}

.gs-button {
  color: #ffffff;
  background-color: #F0691B!important; 
  border-color: #F0691B!important;
}

.gs-text {
  color: #ffffff;
}

/* Index */

.gs-article-size {
  width: 50%!important;
}