<footer class="mkd-page-footer">
  <div class="mkd-footer-inner clearfix">
    <div class="mkd-container gs-container">
      <div class="mkd-container-inner">
        <div class="mkd-grid-row">
          <div class=""> <!--removed mkd-footer-top-holder-inner-->
            <div class="mkd-footer-top clearfix mkd-light mkd-footer-top-aligment-left">
              <div class="mkd-grid-col-3">
                <div class="widget mkd-separator-widget">
                  <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-full-width gs-col1-separator">
                    <div class="mkd-separator gs-separator">
                    </div>
                  </div>
                </div>
                <div id="text-4" class="widget mkd-footer-column-1 widget_text">
                  <div class="textwidget">
                    <a href="/index.html"> 
                      <img src="images/logo2.jpg" alt="d" class="gs-logo"/>
                    </a>
                  </div>
                </div><!--
                <div id="text-3" class="widget mkd-footer-column-1 widget_text">
                  <div class="textwidget">
                    <p style="text-align: left;">
                      <span style="color: #F0691B;">
                        Lorem ipsum dolor sit amet, has eu 
                        <br /> brute graeci feugiat. Usu laudem 
                        <br /> virtute an, novum nec eu splendide.
                      </span>
                    </p>
                  </div>
                </div>-->
                <div id="text-5" class="widget mkd-footer-column-1 widget_text">
                  <div class="textwidget">
                    <p >
                      <span class="mkd-icon-shortcode normal" >
                        <i class="fa fa-phone" aria-hidden="true"></i>
                      </span>
                      <span class="gs-footer-text">
                        call us <span class="gs-link">1-###-###-####</span>
                      </span>
                    </p>
                    <p>
                      <span class="mkd-icon-shortcode normal">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </span>
                      <span class="gs-footer-text">
                        email us at <span class="gs-link">gsenm@gsenm.org</span>
                      </span>
                    </p>
                  </div>
                </div><!--
                <div id="text-6" class="widget mkd-footer-column-1 widget_text">
                  <div class="textwidget">
                    <p style="text-align: left;">
                      <span class="mkd-icon-shortcode normal" style="margin: 0 8px 0 0" data-hover-color="#54ddd1" data-color="#fbfbfc">
                        <a  href="https://twitter.com/" target="_blank">
                          <span aria-hidden="true" class="mkd-icon-font-elegant mkd-icon-element" style="color: #fbfbfc;font-size:12px" ><img src="images/twitter.png" height="14" width="14"/>
                          </span>
                        </a>
                      </span>
                      <span class="mkd-icon-shortcode normal" style="margin: 0 9px 0 9px" data-hover-color="#54ddd1" data-color="#fbfbfc">
                        <a  href="https://www.facebook.com/" target="_blank">
                          <span aria-hidden="true" class="mkd-icon-font-elegant social_facebook mkd-icon-element" style="color: #fbfbfc;font-size:12px" >
                          </span>
                        </a>
                      </span>
                      <span class="mkd-icon-shortcode normal" style="margin: 0 7px 0 7px" data-hover-color="#54ddd1" data-color="#fbfbfc">
                        <a  href="https://www.instagram.com/" target="_blank">
                          <span aria-hidden="true" class="mkd-icon-font-elegant social_instagram mkd-icon-element" style="color: #fbfbfc;font-size:12px" >
                          </span>
                        </a>
                      </span>
                      <span class="mkd-icon-shortcode normal" style="margin: 0 10px 0 10px" data-hover-color="#54ddd1" data-color="#fbfbfc">
                        <a  href="https://www.instagram.com/" target="_blank">
                          <span aria-hidden="true" class="mkd-icon-font-elegant social_linkedin mkd-icon-element" style="color: #fbfbfc;font-size:12px" >
                          </span>
                        </a>
                      </span>
                    </p>
                  </div>
                </div>-->
              </div><!--
              <div class="mkd-grid-col-3">
                <div class="widget mkd-separator-widget">
                  <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-full-width">
                    <div class="mkd-separator" style="border-style: solid;border-bottom-width: 0px;margin-top: 10px;margin-bottom: 33px">
                    </div>
                  </div>
                </div>
                <div class="widget mkd-latest-posts-widget">
                  <div class="mkd-widget-title-holder">
                    <h5 class="mkd-widget-title" style="color:#F0691B">
                      <span>latest news</span>
                    </h5>
                  </div>
                  <div class="mkd-blog-list-holder mkd-image-in-box mkd-2-visible-post" >
                    <div class="mkd-blog-list clearfix">
                      <div class="mkd-blog-list-item clearfix post-12490 post type-post status-publish format-standard has-post-thumbnail hentry category-energy category-nature tag-animals tag-forest tag-ocean">
                        <div class="mkd-blog-list-item-inner">
                          <div class="mkd-item-image clearfix">
                            <a href="http://ecologist.mikado-themes.com/volcano/">
                              <img width="150" height="150" src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/blog-post-1-1-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="a" srcset="http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/blog-post-1-1-150x150.jpg 150w, http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/blog-post-1-1-431x431.jpg 431w, http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/blog-post-1-1-550x550.jpg 550w" sizes="(max-width: 150px) 100vw, 150px" />
                            </a>
                          </div>
                          <div class="mkd-item-text-holder">
                            <h6 class="mkd-item-title" style="color:#F0691B">
                              <a href="http://ecologist.mikado-themes.com/volcano/">
                                volcano
                              </a>
                            </h6>
                            <div class="mkd-item-date">
                              <span class="mkd-post-info-date-icon">
                                <i class="mkd-icon-simple-line-icon icon-calendar " ></i>   
                              </span>
                              <span>09.05.2017.</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="mkd-blog-list-item clearfix post-11231 post type-post status-publish format-standard has-post-thumbnail hentry category-energy category-nature tag-animals tag-forest tag-ocean">
                        <div class="mkd-blog-list-item-inner">
                          <div class="mkd-item-image clearfix">
                            <a href="http://ecologist.mikado-themes.com/jungle/">
                              <img width="150" height="150" src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/blog-post-2-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="a" srcset="http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/blog-post-2-150x150.jpg 150w, http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/blog-post-2-431x431.jpg 431w, http://ecologist.mikado-themes.com/wp-content/uploads/2017/05/blog-post-2-550x550.jpg 550w" sizes="(max-width: 150px) 100vw, 150px" />
                            </a>
                          </div>
                          <div class="mkd-item-text-holder">
                            <h6 class="mkd-item-title" style="color:#F0691B">
                                <a href="http://ecologist.mikado-themes.com/jungle/">jungle</a>
                            </h6>
                            <div class="mkd-item-date">
                              <span class="mkd-post-info-date-icon">
                                <i class="mkd-icon-simple-line-icon icon-calendar " ></i>   
                              </span>
                              <span>08.05.2017.</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mkd-grid-col-3">
                <div class="widget mkd-separator-widget">
                  <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-full-width">
                    <div class="mkd-separator" style="border-style: solid;border-bottom-width: 0px;margin-top: 10px;margin-bottom: 33px">
                    </div>
                  </div>
                </div>
                <div id="mkd_instagram_widget-3" class="widget mkd-footer-column-3 widget_mkd_instagram_widget">
                  <div class="mkd-widget-title-holder">
                    <h5 class="mkd-widget-title" style="color:#F0691B">
                      <span>instagram</span>
                    </h5>
                  </div>
                  <ul class="mkd-instagram-feed clearfix mkd-col-3 ">
                    <li>
                      <div class="mkd-instagram-item-holder">
                        <a href="https://www.instagram.com/p/BUQ_WP7FpzB/" target="_blank">
                          <img class="low_resolution" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/18513388_766285883552583_9141191638691872768_n.jpg" alt="" width="320" height="320" />
                          <div class="mkd-instagram-overlay">
                            <div class="mkd-instagram-overlay-inner">
                              <div class="mkd-instagram-overlay-inner2">
                                <span class="overlay-icon social-instagram">
                                  <span aria-hidden="true" class="mkd-icon-font-elegant social_instagram " ></span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="mkd-instagram-item-holder">
                        <a href="https://www.instagram.com/p/BUQ_UkGFYYM/" target="_blank">
                          <img class="low_resolution" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/18580645_262237597583275_4253926151887519744_n.jpg" alt="" width="320" height="320" />
                          <div class="mkd-instagram-overlay">
                            <div class="mkd-instagram-overlay-inner">
                              <div class="mkd-instagram-overlay-inner2">
                                <span class="overlay-icon social-instagram">
                                  <span aria-hidden="true" class="mkd-icon-font-elegant social_instagram " ></span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="mkd-instagram-item-holder">
                        <a href="https://www.instagram.com/p/BUQ_SqGFKU1/" target="_blank">
                          <img class="low_resolution" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/18513770_1993643084192519_3888363957563424768_n.jpg" alt="" width="320" height="320" />
                          <div class="mkd-instagram-overlay">
                            <div class="mkd-instagram-overlay-inner">
                              <div class="mkd-instagram-overlay-inner2">
                                <span class="overlay-icon social-instagram">
                                  <span aria-hidden="true" class="mkd-icon-font-elegant social_instagram " ></span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="mkd-instagram-item-holder">
                        <a href="https://www.instagram.com/p/BUQ_RGhlRWK/" target="_blank">
                          <img class="low_resolution" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/18513759_1322134167821744_6103427442792202240_n.jpg" alt="" width="320" height="320" />
                          <div class="mkd-instagram-overlay">
                            <div class="mkd-instagram-overlay-inner">
                              <div class="mkd-instagram-overlay-inner2">
                                <span class="overlay-icon social-instagram">
                                  <span aria-hidden="true" class="mkd-icon-font-elegant social_instagram " ></span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="mkd-instagram-item-holder">
                        <a href="https://www.instagram.com/p/BUQ_PMfF1pP/" target="_blank">
                          <img class="low_resolution" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/18513826_221591705003709_7206856274015682560_n.jpg" alt="" width="320" height="320" />
                          <div class="mkd-instagram-overlay">
                            <div class="mkd-instagram-overlay-inner">
                              <div class="mkd-instagram-overlay-inner2">
                                <span class="overlay-icon social-instagram">
                                  <span aria-hidden="true" class="mkd-icon-font-elegant social_instagram " ></span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="mkd-instagram-item-holder">
                        <a href="https://www.instagram.com/p/BUQ_NMZlG2t/" target="_blank">
                          <img class="low_resolution" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/18445043_243374672806206_4375876495512436736_n.jpg" alt="" width="320" height="320" />
                          <div class="mkd-instagram-overlay">
                            <div class="mkd-instagram-overlay-inner">
                              <div class="mkd-instagram-overlay-inner2">
                                <span class="overlay-icon social-instagram">
                                  <span aria-hidden="true" class="mkd-icon-font-elegant social_instagram " ></span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>-->
              <div class="mkd-grid-col-3 gs-col3-block">
                <div class="widget mkd-separator-widget">
                  <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-full-width">
                    <div class="mkd-separator gs-separator"></div>
                  </div>
                </div>
                <div id="text-7" class="widget mkd-footer-column-4 widget_text">
                  <div class="mkd-widget-title-holder">
                    <h5 class="mkd-widget-title">
                      <span class="gs-footer-title-text">subscribe</span>
                    </h5>
                  </div>
                  <div class="textwidget">
                    <p>
                      <span class="gs-footer-text">
                        subscribe to our newsletters 
                        <br /> and recieve updates
                        <br /> on our programs.
                      </span>
                    </p>
                  </div>
                </div>
                <div class="widget mkd-separator-widget">
                  <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-normal">
                    <div class="mkd-separator gs-separator"></div>
                  </div>
                </div>
                <div class="widget mkd-contact-form-7-widget" >
                  <div class="mkd-contact-form-title"></div>
                  <div class="mkd-contact-form-text"></div>
                  <div role="form" class="wpcf7" id="wpcf7-f732-o2" lang="en-US" dir="ltr">
                    <div class="screen-reader-response"></div>
                    <form action="/#wpcf7-f732-o2" method="post" class="wpcf7-form default" novalidate="novalidate">
                      <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="732" />
                        <input type="hidden" name="_wpcf7_version" value="4.7" />
                        <input type="hidden" name="_wpcf7_locale" value="en_US" />
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f732-o2" />
                        <input type="hidden" name="_wpnonce" value="dfd7ebcb30" />
                      </div>
                      <div class ="mkd-newsletter-footer clearfix"> 
                        <span class="wpcf7-form-control-wrap email">
                          <input type="email" name="email" value="" size="40" maxlength="100" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="email" />
                        </span>
                        <input type="submit" class="wpcf7-form-control wpcf7-submit gs-button"/> <!--value="&#xe094;"-->
                      </div>
                      <div class="wpcf7-response-output wpcf7-display-none"></div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="mkd-grid-col-3 gs-col2-block">
                <div class="widget mkd-separator-widget">
                  <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-full-width gs-col3-separator">
                    <div class="mkd-separator gs-separator"></div>
                  </div>
                </div>
                <div id="text-7" class="widget mkd-footer-column-4 widget_text">
                  <a href="" target="_blank" class="gs-button mkd-btn mkd-btn-solid mkd-btn-medium mkd-btn-custom-hover-bg mkd-btn-custom-border-hover mkd-btn-custom-hover-color mkd-btn-hover-solid">
                    <span class="mkd-btn-text gs-footer-text">
                      Donate Now!
                    </span>
                  </a>
                <div class="widget mkd-separator-widget">
                  <div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-full-width">
                    <div class="mkd-separator gs-separator"></div>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>