<header class="mkd-page-header">
  <div class="mkd-menu-area">
    <div class="mkd-vertical-align-containers">
      <div class="mkd-position-left">
        <div class="mkd-position-left-inner">
          <div class="mkd-logo-wrapper">
            <a href="/" class="gs-logo-hdr">
              <img class="mkd-normal-logo" src="/images/logo2.jpg" alt="logo"/>
              <img class="mkd-dark-logo" src="/images/logo2.jpg" alt="dark logo"/>
              <img class="mkd-light-logo" src="/images/logo2.jpg" alt="light logo"/>
      </a></div></div></div>
      <div class="mkd-position-center">
        <div class="mkd-position-center-inner">
          <nav class="mkd-main-menu mkd-drop-down mkd-default-nav">
            <ul id="menu-main-menu" class="clearfix">
              <li id="nav-menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub narrow">
                <a href="/" class="">
                  <span class="item_outer">
                    <span class="item_inner">
                      <span class="gs-home-hdr-text">
                        Home
                        <span class="mkd-item-underline">
                </span></span></span></span></a>
<!--
                <div class="second " >
                  <div class="inner">
                    <ul>
                      <li id="nav-menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item ">
                        <a href="/index.htm" class="">
                          <span class="item_outer">
                            <span class="item_inner">
                              <span class="item_text">
                                Main Home
                                <span class="mkd-item-underline">
                      </span></span></span></span></a></li>

                      <li id="nav-menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page ">
                        <a href="" class="">
                          <span class="item_outer">
                            <span class="item_inner">
                              <span class="item_text">
                                Second Home
                                <span class="mkd-item-underline">
                      </span></span></span></span></a>
                </li></ul></div></div>-->
              </li>


              <li id="nav-menu-item-431" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                <a href="/about.html" class="">
                  <span class="item_outer">
                    <span class="item_inner">
                      <span class="gs-home-hdr-text">
                        About
                        <span class="mkd-item-underline">
                </span></span></span></span></a>
<!--
                <div class="second " >
                  <div class="inner">
                    <ul>
                      <li id="nav-menu-item-432" class="menu-item menu-item-type-post_type menu-item-object-page ">
                        <a href="/about.html" class="">
                          <span class="item_outer">
                            <span class="item_inner">
                              <span class="item_text">
                                About Us
                                <span class="mkd-item-underline">
                      </span></span></span></span></a></li>

                      <li id="nav-menu-item-10896" class="menu-item menu-item-type-post_type menu-item-object-page ">
                        <a href="/grand_staircase.html" class="">
                          <span class="item_outer">
                            <span class="item_inner">
                              <span class="item_text">
                                About Grand Staircase
                                <span class="mkd-item-underline">
                      </span></span></span></span></a></li>

                      <li id="nav-menu-item-10768" class="menu-item menu-item-type-post_type menu-item-object-page ">
                        <a href="/about/our_job.html" class="">
                          <span class="item_outer">
                            <span class="item_inner">
                              <span class="item_text">
                                Our Job
                                <span class="mkd-item-underline">
                      </span></span></span></span></a></li>

                      <li id="nav-menu-item-892" class="menu-item menu-item-type-post_type menu-item-object-page ">
                        <a href="/about/board_members.html" class="">
                          <span class="item_outer">
                            <span class="item_inner">
                              <span class="item_text">
                                Board Members
                                <span class="mkd-item-underline">
                      </span></span></span></span></a></li>

                      <li id="nav-menu-item-893" class="menu-item menu-item-type-post_type menu-item-object-page ">
                        <a href="/about/our_staff.html" class="">
                          <span class="item_outer">
                            <span class="item_inner">
                              <span class="item_text">
                                Our Staff
                                <span class="mkd-item-underline">
                      </span></span></span></span></a></li>

                      <li id="nav-menu-item-10766" class="menu-item menu-item-type-post_type menu-item-object-page ">
                        <a href="/about/diversity.html" class="">
                          <span class="item_outer">
                            <span class="item_inner">
                              <span class="item_text">
                                Commitment to Diversity
                                <span class="mkd-item-underline">
                      </span></span></span></span></a></li>
                </ul></div></div>-->
              </li>

<!--
              <li id="nav-menu-item-14556" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                <a href="/support.html" class="">
                  <span class="item_outer">
                    <span class="item_inner">
                      <span class="gs-home-hdr-text">
                        Support
                        <span class="mkd-item-underline">
              </span></span></span></span></a></li>-->


              <li id="nav-menu-item-14557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                <a href="/programs.html" class="">
                  <span class="item_outer">
                    <span class="item_inner">
                      <span class="gs-home-hdr-text">
                        Programs
                        <span class="mkd-item-underline">
              </span></span></span></span></a></li>

              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                <a href="/news.html" class="">
                  <span class="item_outer">
                    <span class="item_inner">
                      <span class="gs-home-hdr-text">
                        News
                        <span class="mkd-item-underline">
                        </span>
                      </span>
                    </span>
                  </span>
                </a>
              </li>

              <li id="nav-menu-item-11922" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                <a href="/get_involved.html">
                  <span class="item_outer">
                    <span class="item_inner">
                      <span class="gs-home-hdr-text">
                        Get Involved
                        <span class="mkd-item-underline">
      </span></span></span></span></a></li>

              <li id="nav-menu-item-11922" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                <a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=grandstaircase&id=1" target="_blank">
                  <span class="item_outer">
                    <span class="item_inner">
                      <span class="gs-home-hdr-text">
                        Donate Now
                        <span class="mkd-item-underline">
              </span></span></span></span></a></li>
      </ul></nav></div></div><!--
      <div class="mkd-position-right">
        <div class="mkd-position-right-inner">
          <div class="mkd-main-menu-widget-area">
            <div class="mkd-main-menu-widget-area-inner">
              <div class="widget widget_mkd_side_area_opener">
                <div class="widget-inner">
                  <a class="mkd-side-menu-button-opener" href="javascript:void(0)">
                    <div class="mkd-side-area-icon" >
                      <div class="mkd-sai">
                      </div>
                      <div class="mkd-sai"></div>
                      <div class="mkd-sai"></div>
                    </div >
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
  <div class="mkd-sticky-header">
    <div class="mkd-sticky-holder">
      <div class=" mkd-vertical-align-containers">
        <div class="mkd-position-left">
          <div class="mkd-position-left-inner">
            <div class="mkd-logo-wrapper">
              <a href="/index.html" class="gs-logo-hdr">
                <img class="mkd-normal-logo" src="/images/logo2.jpg" alt="logo"/>
                <img class="mkd-dark-logo" src="/images/logo2.jpg" alt="dark logo"/>
                <img class="mkd-light-logo" src="/images/logo2.jpg" alt="light logo"/>
              </a>
            </div>
          </div>
        </div>
        <div class="mkd-position-center">
          <div class="mkd-position-center-inner">
            <nav class="mkd-main-menu mkd-drop-down mkd-sticky-nav">
              <ul id="menu-main-menu-1" class="clearfix">
                <li id="sticky-nav-menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub narrow">
                  <a href="/">
                    <span class="item_outer">
                      <span class="item_inner">
                        <span class="gs-hdr-text">
                          Home
                          <span class="mkd-item-underline"></span>
                  </span></span></span></a>
<!--                  <div class="second " >
                    <div class="inner">
                      <ul>
                        <li id="sticky-nav-menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item ">
                          <a href="/index.html" class="">
                            <span class="item_outer">
                              <span class="item_inner">
                                <span class="item_text">
                                  Main Home
                                  <span class="mkd-item-underline">
                        </span></span></span></span></a></li>
                        <li id="sticky-nav-menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page ">
                          <a href="" class="">
                            <span class="item_outer">
                              <span class="item_inner">
                                <span class="item_text">
                                  Second Home
                                  <span class="mkd-item-underline"></span>
                        </span></span></span></a></li>
                      </ul>
                    </div>
                  </div>-->
                </li>

                <li id="sticky-nav-menu-item-431" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                  <a href="/about.html">
                    <span class="item_outer">
                      <span class="item_inner">
                        <span class="gs-hdr-text">
                          About
                          <span class="mkd-item-underline"></span>
                  </span></span></span></a>
<!--                  <div class="second " >
                    <div class="inner">
                      <ul>
                        <li id="sticky-nav-menu-item-432" class="menu-item menu-item-type-post_type menu-item-object-page ">
                          <a href="/about.html" class="">
                            <span class="item_outer">
                              <span class="item_inner">
                                <span class="item_text">
                                  About Us
                                  <span class="mkd-item-underline"></span>
                        </span></span></span></a></li>
                        <li id="sticky-nav-menu-item-10896" class="menu-item menu-item-type-post_type menu-item-object-page ">
                          <a href="/grand_staircase.html" class="">
                            <span class="item_outer">
                              <span class="item_inner">
                                <span class="item_text">
                                  About Grand Staircase
                                  <span class="mkd-item-underline"></span>
                        </span></span></span></a></li>
                        <li id="sticky-nav-menu-item-10768" class="menu-item menu-item-type-post_type menu-item-object-page ">
                          <a href="" class="">
                            <span class="item_outer">
                              <span class="item_inner">
                                <span class="item_text">
                                  Our Job
                                  <span class="mkd-item-underline"></span>
                        </span></span></span></a></li>
                        <li id="sticky-nav-menu-item-892" class="menu-item menu-item-type-post_type menu-item-object-page ">
                          <a href="" class="">
                            <span class="item_outer">
                              <span class="item_inner">
                                <span class="item_text">
                                  Board Members
                                  <span class="mkd-item-underline"></span>
                        </span></span></span></a></li>
                        <li id="sticky-nav-menu-item-893" class="menu-item menu-item-type-post_type menu-item-object-page ">
                          <a href="" class="">
                            <span class="item_outer">
                              <span class="item_inner">
                                <span class="item_text">
                                  Our Staff
                                  <span class="mkd-item-underline"></span>
                        </span></span></span></a></li>
                        <li id="sticky-nav-menu-item-10766" class="menu-item menu-item-type-post_type menu-item-object-page ">
                          <a href="" class="">
                            <span class="item_outer">
                              <span class="item_inner">
                                <span class="item_text">
                                  Commitment to Diversity
                                  <span class="mkd-item-underline"></span>
                        </span></span></span></a></li>
                      </ul>
                    </div>
                  </div>-->
                </li>
<!--
                <li id="sticky-nav-menu-item-14556" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                  <a href="#" class=" no_link" onclick="JavaScript: return false;">
                    <span class="item_outer">
                      <span class="item_inner">
                        <span class="gs-hdr-text">
                          Support
                          <span class="mkd-item-underline"></span>
                </span></span></span></a></li>-->

                <li id="sticky-nav-menu-item-14557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                  <a href="/programs.html" class="">
                    <span class="item_outer">
                      <span class="item_inner">
                        <span class="gs-hdr-text">
                          Programs
                          <span class="mkd-item-underline"></span>
                </span></span></span></a></li>

                <li id="sticky-nav-menu-item-11922" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                  <a href="/get_involved.html">
                    <span class="item_outer">
                      <span class="item_inner">
                        <span class="gs-hdr-text">
                          Get Involved
                          <span class="mkd-item-underline"></span>
                </span></span></span></a></li>

                <li id="sticky-nav-menu-item-11922" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                  <a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=grandstaircase&id=1" target="_blank">
                    <span class="item_outer">
                      <span class="item_inner">
                        <span class="gs-hdr-text">
                          Donate Now
                          <span class="mkd-item-underline"></span>
                </span></span></span></a></li>
              </ul>
            </nav>
          </div>
        </div>
       <!-- <div class="mkd-position-right">
          <div class="mkd-position-right-inner">
            <div class="mkd-sticky-right-widget-area">
              <div id="mkd_search_opener-3" class="widget widget_mkd_search_opener">
                <div class="widget-inner">
                  <a data-icon-close-same-position="yes" class="mkd-search-opener" href="javascript:void(0)">
                    <i class="mkd-icon-ion-icon ion-search " ></i>
                  </a>
                </div>
              </div>
              <div id="mkd_woocommerce_dropdown_cart-3" class="widget widget_mkd_woocommerce_dropdown_cart">
                <div class="widget-inner">
                  <div class="mkd-shopping-cart-holder mkd-cart-info-is-disabled" >
                    <div class="mkd-shopping-cart-inner">
                      <a itemprop="url" class="mkd-header-cart" href="http://ecologist.mikado-themes.com/cart/">
                        <span class="mkd-cart-icon ion-android-cart">
                          <span class="mkd-cart-number">0</span>
                        </span>
                        <span class="mkd-cart-info">
                          <span class="mkd-cart-info-number">0 items</span>
                          <span class="mkd-cart-info-total">
                            <span class="woocommerce-Price-amount amount">
                              <span class="woocommerce-Price-currencySymbol">&#036;</span>
                              0
                            </span>
                          </span>
                        </span>
                      </a>
                      <div class="mkd-shopping-cart-dropdown">
                        <ul>
                          <li class="mkd-empty-cart">No products in the cart.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="mkd_side_area_opener-5" class="widget widget_mkd_side_area_opener">
                <div class="widget-inner">
                  <a class="mkd-side-menu-button-opener" href="javascript:void(0)">
                    <div class="mkd-side-area-icon" >
                      <div class="mkd-sai"></div>
                      <div class="mkd-sai"></div>
                      <div class="mkd-sai"></div>
                    </div >
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</header>


<header class="mkd-mobile-header">
  <div class="mkd-mobile-header-inner">
    <div class="mkd-mobile-header-holder">
      <div class="mkd-grid">
        <div class="mkd-vertical-align-containers">
          <div class="mkd-mobile-menu-opener">
            <a href="javascript:void(0)">
              <span class="mkd-mobile-opener-icon-holder">
                <i class="mkd-icon-font-awesome fa fa-bars " ></i>
              </span>
            </a>
          </div>
          <div class="mkd-position-center">
            <div class="mkd-position-center-inner">
              <div class="mkd-mobile-logo-wrapper">
                <a href="/index.html" style="height: 46px">
                  <img height="92" width="84" src="/images/logo2.jpg" alt="mobile-logo"/>
                </a>
              </div>
            </div>
          </div>
          <div class="mkd-position-right">
            <div class="mkd-position-right-inner">
            </div>
          </div>
        </div>
<!-- close .mkd-vertical-align-containers -->
      </div>
    </div>
    <nav class="mkd-mobile-nav">
      <div class="mkd-grid">
        <ul id="menu-main-menu-2" class="">

          <li id="mobile-menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children mkd-active-item has_sub"><a href="/" class="gs-hdr-text"><h4><span>Home</span></h4><span class="mobile_arrow"><i class="mkd-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a>
<!--
            <ul class="sub_menu"><li id="mobile-menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item "><a href="/index.html" class=""><span>Main Home</span></a></li>

            <li id="mobile-menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="" class=""><span>Second Home</span></a></li></ul>-->
          </li>

          <li id="mobile-menu-item-431" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="/about.html" class="gs-hdr-text"><h4><span>About</span></h4><span class="mobile_arrow"><i class="mkd-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a>
<!--
            <ul class="sub_menu"><li id="mobile-menu-item-432" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/about.html" class=""><span>About Us</span></a></li>

            <li id="mobile-menu-item-10896" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/grand_staircase.html" class=""><span>About Grand Staircases</span></a></li>

            <li id="mobile-menu-item-10768" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="" class=""><span>Our Job</span></a></li>

            <li id="mobile-menu-item-892" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="" class=""><span>Board Members</span></a></li>

            <li id="mobile-menu-item-893" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="" class=""><span>Our Staff</span></a></li>

            <li id="mobile-menu-item-10766" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="" class=""><span>Commitment to Diversity</span></a></li></ul>-->
          </li>
<!--
          <li id="mobile-menu-item-14556" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="/support.html" class="gs-hdr-text"><h4><span>Support</span></h4><span class="mobile_arrow"><i class="mkd-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a></li>-->

          <li id="mobile-menu-item-14557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="/programs.html" class="gs-hdr-text"><span>Programs</span><span class="mobile_arrow"><i class="mkd-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a>
<!--
            <ul class="sub_menu"><li id="mobile-menu-item-15329" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="/programs.html" class=""><span>Programs</span></a></li></ul>-->
          </li>

          <li id="mobile-menu-item-14557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="/get_involved.html" class="gs-hdr-text"><span>Get Involved</span><span class="mobile_arrow"><i class="mkd-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></a>
<!--
            <ul class="sub_menu"><li id="mobile-menu-item-15329" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="" class=""><span>Get Involved</span></a></li></ul>-->
          </li>

          <li id="mobile-menu-item-14557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=grandstaircase&id=1" target="_blank"><span>Donate Now</span><span class="mobile_arrow"><i class="mkd-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i></a></span>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</header>
