<!--<section class="mkd-side-menu right">
  <div class="mkd-close-side-menu-holder">
    <div class="mkd-close-side-menu-holder-inner">
      <a href="#" target="_self" class="mkd-close-side-menu">
        <span aria-hidden="true" class="icon_close"></span>
      </a>
    </div>
  </div>
  <div id="text-16" class="widget mkd-sidearea widget_text">
  	<div class="textwidget">
  		<a href="/index.html"> 
  			<img height="92" width="84" src="images/logo1.jpg" alt="a"/>
  		</a>
  		<div data-original-height="15" class="vc_empty_space"  style="height: 15px" >
  			<span class="vc_empty_space_inner">
  			</span>
  		</div>
  		<h5>gsenm</h5>
  		Save the monument.
  		<div data-original-height="12" class="vc_empty_space"  style="height: 12px" >
  			<span class="vc_empty_space_inner">
  			</span>
  		</div>-->
  		<!--<span class="mkd-icon-shortcode normal" style="margin: 0 5px 0 0px" data-hover-color="#54ddd1" data-color="#313646">
  			<span aria-hidden="true" class="mkd-icon-font-elegant icon_phone mkd-icon-element" style="color: #313646;font-size:15px" >
  			</span>
  		</span>-->
<!--  		call us 1-###-###-####
  		<div data-original-height="5" class="vc_empty_space"  style="height: 5px" >
  			<span class="vc_empty_space_inner">
  			</span>
  		</div>
  		<a href="mailto:gsenm@gsenm.com">-->
  			<!--<span class="mkd-icon-shortcode normal" style="margin: 0 5px 2px 0px" data-hover-color="#54ddd1" data-color="#313646">
  				<span aria-hidden="true" class="mkd-icon-font-elegant icon_mail_alt mkd-icon-element" style="color: #313646;font-size:15px" >
  				</span>
  			</span>-->
<!--  			gsenm@gsenm.com
  		</a>
  	</div>
  </div>
  <div class="widget mkd-separator-widget">
  	<div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-full-width">
  		<div class="mkd-separator" style="border-color: #f4f4f4;border-style: solid;border-bottom-width: 1pxpx;margin-top: -3px;margin-bottom: 5px">
  		</div>
  	</div>
  </div>
  <div id="mkd_instagram_widget-2" class="widget mkd-sidearea widget_mkd_instagram_widget">
  	<h5 class="mkd-sidearea-widget-title">
  		instagram
  	</h5>
  	<ul class="mkd-instagram-feed clearfix mkd-col-3 ">
  		<li>
  			<div class="mkd-instagram-item-holder">
  				<a href="https://www.instagram.com/p/BUQ_WP7FpzB/" target="_blank">
  					<img class="thumbnail" src="https://scontent.cdninstagram.com/t51.288515/s150x150/e35/18513388_766285883552583_9141191638691872768_n.jpg" alt="" width="150" height="150" />
  					<div class="mkd-instagram-overlay">
  						<div class="mkd-instagram-overlay-inner">
  							<div class="mkd-instagram-overlay-inner2">
  								<span class="overlay-icon social-instagram">
  									<span aria-hidden="true" class="mkd-icon-font-elegant social_instagram " >
  									</span>
  								</span>
  							</div>
  						</div>
  					</div>
  				</a>
  			</div>
  		</li>
  		<li>
  			<div class="mkd-instagram-item-holder">
  				<a href="https://www.instagram.com/p/BUQ_UkGFYYM/" target="_blank">
  					<img class="thumbnail" src="https://scontent.cdninstagram.com/t51.288515/s150x150/e35/18580645_262237597583275_4253926151887519744_n.jpg" alt="" width="150" height="150" />
  					<div class="mkd-instagram-overlay">
  						<div class="mkd-instagram-overlay-inner">
  							<div class="mkd-instagram-overlay-inner2">
  								<span class="overlay-icon social-instagram">
  									<span aria-hidden="true" class="mkd-icon-font-elegant social_instagram " >
  									</span>
  								</span>
  							</div>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
      	<div class="mkd-instagram-item-holder">
      		<a href="https://www.instagram.com/p/BUQ_SqGFKU1/" target="_blank">
      			<img class="thumbnail" src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/18513770_1993643084192519_3888363957563424768_n.jpg" alt="" width="150" height="150" />
      			<div class="mkd-instagram-overlay">
      				<div class="mkd-instagram-overlay-inner">
      					<div class="mkd-instagram-overlay-inner2">
      						<span class="overlay-icon social-instagram">
      							<span aria-hidden="true" class="mkd-icon-font-elegant social_instagram " >
      							</span>
      						</span>
      					</div>
      				</div>
      		  </div>
      	  </a>
        </div>
      </li>
      <li>
	    	<div class="mkd-instagram-item-holder">
	    		<a href="https://www.instagram.com/p/BUQ_RGhlRWK/" target="_blank">
	    			<img class="thumbnail" src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/18513759_1322134167821744_6103427442792202240_n.jpg" alt="" width="150" height="150" />
	    			<div class="mkd-instagram-overlay">
	    				<div class="mkd-instagram-overlay-inner">
	    					<div class="mkd-instagram-overlay-inner2">
	    						<span class="overlay-icon social-instagram">
	    							<span aria-hidden="true" class="mkd-icon-font-elegant social_instagram " >
	    							</span>
	    						</span>
	    					</div>
	    				</div>
	    			</div>
	    		</a>
	    	</div>
	    </li>
	    <li>
	    	<div class="mkd-instagram-item-holder">
	    		<a href="https://www.instagram.com/p/BUQ_PMfF1pP/" target="_blank">
	    			<img class="thumbnail" src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/18513826_221591705003709_7206856274015682560_n.jpg" alt="" width="150" height="150" />
	    			<div class="mkd-instagram-overlay">
	    				<div class="mkd-instagram-overlay-inner">
	    					<div class="mkd-instagram-overlay-inner2">
	    						<span class="overlay-icon social-instagram">
	    							<span aria-hidden="true" class="mkd-icon-font-elegant social_instagram " >
	    							</span>
	    						</span>
	    					</div>
	    				</div>
	    			</div>
	    		</a>
	    	</div>
	    </li>
	    <li>
	    	<div class="mkd-instagram-item-holder">
	    		<a href="https://www.instagram.com/p/BUQ_NMZlG2t/" target="_blank">
	    			<img class="thumbnail" src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e35/18445043_243374672806206_4375876495512436736_n.jpg" alt="" width="150" height="150" />
	    			<div class="mkd-instagram-overlay">
	    				<div class="mkd-instagram-overlay-inner">
	    					<div class="mkd-instagram-overlay-inner2">
	    						<span class="overlay-icon social-instagram">
	    							<span aria-hidden="true" class="mkd-icon-font-elegant social_instagram " >
	    							</span>
	    						</span>
	    					</div>
	    				</div>
	    			</div>
	    		</a>
	    	</div>
	    </li>
	  </ul>
	</div>
	<div class="widget mkd-separator-widget">
		<div class="mkd-separator-holder clearfix  mkd-separator-center mkd-separator-normal">
			<div class="mkd-separator" style="border-style: solid;border-bottom-width: 4pxpx;margin-top: 0px;margin-bottom: 0px">
			</div>
		</div>
	</div>
	<div id="text-17" class="widget mkd-sidearea widget_text">
		<h5 class="mkd-sidearea-widget-title">
			follow us
		</h5>
		<div class="textwidget">
			<span class="mkd-icon-shortcode normal" style="margin: -15px 7px 0 7px" data-hover-color="#54ddd1" data-color="#313646">
				<a  href="https://twitter.com/" target="_blank">
					<span aria-hidden="true" class="mkd-icon-font-elegant social_twitter mkd-icon-element" style="color: #313646;font-size:13px" >
					</span>
				</a>
			</span>
			<span class="mkd-icon-shortcode normal" style="margin: -15px 8px 0 8px" data-hover-color="#54ddd1" data-color="#313646">
				<a  href="https://www.facebook.com/" target="_blank">
					<span aria-hidden="true" class="mkd-icon-font-elegant social_facebook mkd-icon-element" style="color: #313646;font-size:13px" >
					</span>
				</a>
			</span>
			<span class="mkd-icon-shortcode normal" style="margin: -15px 6px 0 6px" data-hover-color="#54ddd1" data-color="#313646">
				<a  href="https://www.instagram.com/" target="_blank">
					<span aria-hidden="true" class="mkd-icon-font-elegant social_instagram mkd-icon-element" style="color: #313646;font-size:13px" >
					</span>
				</a>
			</span>
			<span class="mkd-icon-shortcode normal" style="margin: -15px 9px 0 9px" data-hover-color="#54ddd1" data-color="#313646">
				<a  href="https://www.instagram.com/" target="_blank">
					<span aria-hidden="true" class="mkd-icon-font-elegant social_linkedin mkd-icon-element" style="color: #313646;font-size:13px" >
					</span>
				</a>
			</span>
		</div>
	</div>
</section> -->