<!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
<div id="rev_slider_1_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
<ul>  <!-- SLIDE  -->
<li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/ERWP2.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"  data-title="Slide" data-param1="1" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
<!-- MAIN IMAGE -->
<img src="images/ERWP2.jpg"  alt="a" title="h1-slide-1-background"  width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="8" class="rev-slidebg" data-no-retina>
<!-- LAYERS -->

<!-- LAYER NR. 1 -->
<div  class="tp-caption gs-slider-lyr1"
id="slide-1-layer-1"
data-x="['center','center','center','center']" data-hoffset="['2','2','2','2']"
data-y="['middle','middle','middle','middle']" data-voffset="['-107','-77','-101','-100']"
data-fontsize="['140','110','80','40']"
data-lineheight="['150','120','90','65']"
data-letterspacing="['5','4','3','2']"
data-width="['none','none','none','317']"
data-height="none"
data-whitespace="['nowrap','nowrap','nowrap','normal']"

data-type="text"
data-basealign="slide"
data-responsive_offset="off"
data-responsive="off"
data-frames='[{"delay":400,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeOut"}]'
data-textAlign="['center','center','center','center']"
data-paddingtop="[0,0,0,0]"
data-paddingright="[0,0,0,0]"
data-paddingbottom="[0,0,0,0]"
data-paddingleft="[0,0,0,0]">
Restoration
</div>

<!-- LAYER NR. 2 -->
<div class="tp-caption  "
id="slide-1-layer-3"
data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
data-y="['middle','middle','middle','middle']" data-voffset="['-20','-2','-37','-52']"
data-width="none"
data-height="none"
data-whitespace="nowrap"

data-type="image"
data-basealign="slide"
data-responsive_offset="off"
data-responsive="off"
data-frames='[{"delay":600,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeOut"}]'
data-textAlign="['inherit','inherit','inherit','inherit']"
data-paddingtop="[0,0,0,0]"
data-paddingright="[0,0,0,0]"
data-paddingbottom="[0,0,0,0]"
data-paddingleft="[0,0,0,0]"

style="z-index: 6;">
<img src="images/slide_separator.jpg" alt="a" data-ww="['76px','76px','76px','76px']" data-hh="['3px','3px','3px','3px']" width="74" height="2" data-no-retina>
</div>

<!-- LAYER NR. 3 -->
<div  class="tp-caption tp-resizeme gs-slider-lyr3"
id="slide-1-layer-4"
data-x="['center','center','center','center']" data-hoffset="['2','2','2','2']"
data-y="['middle','middle','middle','middle']" data-voffset="['18','38','2','0']"
data-fontsize="['30','25','25','20']"
data-lineheight="['40','35','35','25']"
data-width="['none','none','none','223']"
data-height="['none','none','none','52']"
data-whitespace="['nowrap','nowrap','nowrap','normal']"

data-type="text"
data-responsive_offset="on"

data-frames='[{"delay":800,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeOut"}]'
data-textAlign="['center','center','center','center']"
data-paddingtop="[0,0,0,0]"
data-paddingright="[0,0,0,0]"
data-paddingbottom="[0,0,0,0]"
data-paddingleft="[0,0,0,0]">
A strong effort to restore the Escalante Watershed
</div>

<!-- LAYER NR. 4 -->
<div class="tp-caption gs-slider-lyr4"
id="slide-1-layer-5"
data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
data-y="['top','top','top','middle']" data-voffset="['410','377','375','81']"
data-letterspacing="['0','','0','0']"
data-width="none"
data-height="none"
data-whitespace="nowrap"

data-type="text"
data-responsive_offset="off"
data-responsive="off"
data-frames='[{"delay":1000,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeOut"}]'
data-textAlign="['center','center','center','center']"
data-paddingtop="[0,0,0,0]"
data-paddingright="[0,0,0,0]"
data-paddingbottom="[0,0,0,0]"
data-paddingleft="[0,0,0,0]">
<a href="/erwp.html" target="_blank" style="color: #ffffff; background-color: #F0691B; border-color: #F0691B" class="mkd-btn mkd-btn-solid mkd-btn-medium mkd-btn-custom-hover-bg mkd-btn-custom-border-hover mkd-btn-custom-hover-color mkd-btn-hover-solid" data-hover-bg-color="#ffffff" data-hover-color="#313646" data-hover-border-color="#ffffff" >
<span class="mkd-btn-text">
More info
</span>
</a>
</div>
</li>
<!-- SLIDE  -->
<li data-index="rs-27" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/arch.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="2" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
<!-- MAIN IMAGE -->
<img src="images/Paleo.jpg"  alt="a" title="h1-slide-2-background"  width="1920" height="1093" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="8" class="rev-slidebg" data-no-retina>
<!-- LAYERS -->

<!-- LAYER NR. 5 -->
<div class="tp-caption  gs-slider-lyr1"
id="slide-27-layer-1"
data-x="['center','center','center','center']" data-hoffset="['2','2','2','0']"
data-y="['middle','middle','middle','middle']" data-voffset="['-107','-77','-101','-100']"
data-fontsize="['140','110','80','40']"
data-lineheight="['150','120','90','65']"
data-letterspacing="['5','4','3','2']"
data-width="['none','none','none','363']"
data-height="none"
data-whitespace="['nowrap','nowrap','nowrap','normal']"

data-type="text"
data-basealign="slide"
data-responsive_offset="off"
data-responsive="off"
data-frames='[{"delay":400,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeOut"}]'
data-textAlign="['center','center','center','center']"
data-paddingtop="[0,0,0,0]"
data-paddingright="[0,0,0,0]"
data-paddingbottom="[0,0,0,0]"
data-paddingleft="[0,0,0,0]">Paleontology </div>

<!-- LAYER NR. 6 -->
<div class="tp-caption  "
id="slide-27-layer-3"
data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
data-y="['middle','middle','middle','middle']" data-voffset="['-20','-2','-37','-52']"
data-width="none"
data-height="none"
data-whitespace="nowrap"

data-type="image"
data-basealign="slide"
data-responsive_offset="off"
data-responsive="off"
data-frames='[{"delay":600,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeOut"}]'
data-textAlign="['inherit','inherit','inherit','inherit']"
data-paddingtop="[0,0,0,0]"
data-paddingright="[0,0,0,0]"
data-paddingbottom="[0,0,0,0]"
data-paddingleft="[0,0,0,0]"

style="z-index: 6;"><img src="images/slide_separator.jpg" alt="a" data-ww="['76px','76px','76px','76px']" data-hh="['3px','3px','3px','3px']" width="74" height="2" data-no-retina> </div>

<!-- LAYER NR. 7 -->
<div class="tp-caption tp-resizeme gs-slider-lyr3"
id="slide-27-layer-4"
data-x="['center','center','center','center']" data-hoffset="['2','2','2','2']"
data-y="['middle','middle','middle','middle']" data-voffset="['18','38','2','0']"
data-fontsize="['30','25','25','20']"
data-lineheight="['40','35','35','25']"
data-width="['none','none','none','223']"
data-height="['none','none','none','52']"
data-whitespace="['nowrap','nowrap','nowrap','normal']"

data-type="text"
data-responsive_offset="on"

data-frames='[{"delay":800,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeOut"}]'
data-textAlign="['center','center','center','center']"
data-paddingtop="[0,0,0,0]"
data-paddingright="[0,0,0,0]"
data-paddingbottom="[0,0,0,0]"
data-paddingleft="[0,0,0,0]">GSENM is at the epicenter of the fossil-rich Kaiparowits Plateau </div>

<!-- LAYER NR. 8 -->
<div class="tp-caption gs-slider-lyr4"
id="slide-27-layer-5"
data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
data-y="['top','top','top','middle']" data-voffset="['410','377','375','81']"
data-letterspacing="['0','','0','0']"
data-width="none"
data-height="none"
data-whitespace="nowrap"

data-type="text"
data-responsive_offset="off"
data-responsive="off"
data-frames='[{"delay":1000,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeOut"}]'
data-textAlign="['center','center','center','center']"
data-paddingtop="[0,0,0,0]"
data-paddingright="[0,0,0,0]"
data-paddingbottom="[0,0,0,0]"
data-paddingleft="[0,0,0,0]">
<a href="/paleontology.html" target="_blank" style="color: #ffffff; background-color: #F0691B; border-color: #F0691B" class="mkd-btn mkd-btn-solid mkd-btn-medium mkd-btn-custom-hover-bg mkd-btn-custom-border-hover mkd-btn-custom-hover-color mkd-btn-hover-solid" data-hover-bg-color="#ffffff" data-hover-color="#313646" data-hover-border-color="#ffffff" >
<span class="mkd-btn-text">More info</span>


</a> </div>
</li>
<!-- SLIDE  -->
<li data-index="rs-28" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/rainbow.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="3" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
<!-- MAIN IMAGE -->
<img src="images/site_stewards.jpg"  alt="a" title="h1-slide-3-background"  width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="8" class="rev-slidebg" data-no-retina>
<!-- LAYERS -->

<!-- LAYER NR. 9 -->
<div class="tp-caption gs-slider-lyr1"
id="slide-28-layer-1"
data-x="['center','center','center','center']" data-hoffset="['2','2','2','2']"
data-y="['middle','middle','middle','middle']" data-voffset="['-107','-77','-101','-100']"
data-fontsize="['140','110','80','40']"
data-lineheight="['150','120','90','65']"
data-letterspacing="['5','4','3','2']"
data-width="['none','none','none','317']"
data-height="none"
data-whitespace="['nowrap','nowrap','nowrap','normal']"

data-type="text"
data-basealign="slide"
data-responsive_offset="off"
data-responsive="off"
data-frames='[{"delay":400,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeOut"}]'
data-textAlign="['center','center','center','center']"
data-paddingtop="[0,0,0,0]"
data-paddingright="[0,0,0,0]"
data-paddingbottom="[0,0,0,0]"
data-paddingleft="[0,0,0,0]">Site Stewards </div>

<!-- LAYER NR. 10 -->
<div class="tp-caption  "
id="slide-28-layer-3"
data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
data-y="['middle','middle','middle','middle']" data-voffset="['-20','-2','-37','-52']"
data-width="none"
data-height="none"
data-whitespace="nowrap"

data-type="image"
data-basealign="slide"
data-responsive_offset="off"
data-responsive="off"
data-frames='[{"delay":600,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeOut"}]'
data-textAlign="['inherit','inherit','inherit','inherit']"
data-paddingtop="[0,0,0,0]"
data-paddingright="[0,0,0,0]"
data-paddingbottom="[0,0,0,0]"
data-paddingleft="[0,0,0,0]"

style="z-index: 6;"><img src="images/slide_separator.jpg" alt="a" data-ww="['76px','76px','76px','76px']" data-hh="['3px','3px','3px','3px']" width="74" height="2" data-no-retina> </div>

<!-- LAYER NR. 11 -->
<div class="tp-caption tp-resizeme gs-slider-lyr3"
id="slide-28-layer-4"
data-x="['center','center','center','center']" data-hoffset="['2','2','2','2']"
data-y="['middle','middle','middle','middle']" data-voffset="['18','38','2','0']"
data-fontsize="['30','25','25','20']"
data-lineheight="['40','35','35','25']"
data-width="['none','none','none','223']"
data-height="['none','none','none','52']"
data-whitespace="['nowrap','nowrap','nowrap','normal']"

data-type="text"
data-responsive_offset="on"

data-frames='[{"delay":800,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeOut"}]'
data-textAlign="['center','center','center','center']"
data-paddingtop="[0,0,0,0]"
data-paddingright="[0,0,0,0]"
data-paddingbottom="[0,0,0,0]"
data-paddingleft="[0,0,0,0]">Volunteers inspect their assigned sites for signs of damage</div>

<!-- LAYER NR. 12 -->
<div class="tp-caption gs-slider-lyr4"
id="slide-28-layer-5"
data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
data-y="['top','top','top','middle']" data-voffset="['410','377','375','81']"
data-letterspacing="['0','','0','0']"
data-width="none"
data-height="none"
data-whitespace="nowrap"

data-type="text"
data-responsive_offset="off"
data-responsive="off"
data-frames='[{"delay":1000,"speed":500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"y:-50px;opacity:0;","ease":"Power2.easeOut"}]'
data-textAlign="['center','center','center','center']"
data-paddingtop="[0,0,0,0]"
data-paddingright="[0,0,0,0]"
data-paddingbottom="[0,0,0,0]"
data-paddingleft="[0,0,0,0]"><a href="/site_stewards.html" target="_blank" style="color: #ffffff; background-color: #F0691B; border-color: #F0691B" class="mkd-btn mkd-btn-solid mkd-btn-medium mkd-btn-custom-hover-bg mkd-btn-custom-border-hover mkd-btn-custom-hover-color mkd-btn-hover-solid" data-hover-bg-color="#ffffff" data-hover-color="#313646" data-hover-border-color="#ffffff" >
<span class="mkd-btn-text">More info</span>


</a> </div>
</li>
</ul>


<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
if(htmlDiv) {
htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
}else{
var htmlDiv = document.createElement("div");
htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
}
</script>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
if(htmlDiv) {
htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
}else{
var htmlDiv = document.createElement("div");
htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
}
</script>
<script type="text/javascript">
/******************************************
- PREPARE PLACEHOLDER FOR SLIDER  -
******************************************/

var setREVStartSize=function(){
try{var e=new Object,i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
e.c = jQuery('#rev_slider_1_1');
e.responsiveLevels = [1920,1370,860,480];
e.gridwidth = [1300,800,600,320];
e.gridheight = [650,550,620,500];

e.sliderLayout = "fullscreen";
e.fullScreenAutoWidth='on';
e.fullScreenAlignForce='off';
e.fullScreenOffsetContainer= '.touch .mkd-mobile-header';
e.fullScreenOffset='';
if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})

}catch(d){console.log("Failure at Presize of Slider:"+d)}
};

setREVStartSize();

var tpj=jQuery;

var revapi1;
tpj(document).ready(function() {
if(tpj("#rev_slider_1_1").revolution == undefined){
revslider_showDoubleJqueryError("#rev_slider_1_1");
}else{
revapi1 = tpj("#rev_slider_1_1").show().revolution({
sliderType:"standard",
jsFileLocation:"//ecologist.mikado-themes.com/wp-content/plugins/revslider/public/assets/js/",
sliderLayout:"fullscreen",
dottedOverlay:"none",
delay:4000,
navigation: {
keyboardNavigation:"off",
keyboard_direction: "horizontal",
mouseScrollNavigation:"off",
mouseScrollReverse:"default",
onHoverStop:"off",
arrows: {
style:"mikado",
enable:true,
hide_onmobile:true,
hide_under:1261,
hide_onleave:false,
tmp:'<span class="mkd-slide-nav-number-holder"><span class="mkd-slide-nav-number">{{param1}}</span><span class="mkd-slide-nav-line"></span></span>',
left: {
h_align:"left",
v_align:"center",
h_offset:0,
v_offset:-8
},
right: {
h_align:"right",
v_align:"center",
h_offset:0,
v_offset:-8
}
}
,
bullets: {
enable:true,
hide_onmobile:false,
hide_over:1260,
style:"mikado",
hide_onleave:false,
direction:"horizontal",
h_align:"center",
v_align:"bottom",
h_offset:0,
v_offset:30,
space:12,
tmp:''
}
},
responsiveLevels:[1920,1370,860,480],
visibilityLevels:[1920,1370,860,480],
gridwidth:[1300,800,600,320],
gridheight:[650,550,620,500],
lazyType:"none",
parallax: {
type:"mouse",
origo:"enterpoint",
speed:400,
levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
},
shadow:0,
spinner:"spinner2",
stopLoop:"off",
stopAfterLoops:-1,
stopAtSlide:-1,
shuffle:"off",
autoHeight:"off",
fullScreenAutoWidth:"on",
fullScreenAlignForce:"off",
fullScreenOffsetContainer: ".touch .mkd-mobile-header",
fullScreenOffset: "",
disableProgressBar:"on",
hideThumbsOnMobile:"off",
hideSliderAtLimit:0,
hideCaptionAtLimit:0,
hideAllCaptionAtLilmit:0,
debugMode:false,
fallbacks: {
simplifyAll:"off",
nextSlideOnWindowFocus:"off",
disableFocusListener:false,
}
});
revapi1.bind("revolution.slide.onchange",function (e) {
jQuery(this).addClass('mkd-revslider-loaded');
});       }
}); /*ready*/
</script>
<script>
var htmlDivCss = ' #rev_slider_1_1_wrapper .tp-loader.spinner2{ background-color: #54ddd1 !important; } ';
var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
if(htmlDiv) {
htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
}
else{
var htmlDiv = document.createElement('div');
htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
}
</script>
<script>
var htmlDivCss = unescape(".mikado%20%7B%0A%20%20%20%20opacity%3A0%3B%0A%7D%0A%0A.mkd-revslider-loaded%20.mikado%20%7B%0A%20%20%20%20opacity%3A1%3B%0A%20%20%09-webkit-transition%3A%20opacity%201s%3B%0A%20%20%20%20transition%3A%20opacity%201s%3B%0A%7D");
var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
if(htmlDiv) {
htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
}
else{
var htmlDiv = document.createElement('div');
htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
}
</script><script>
var htmlDivCss = unescape("%23rev_slider_1_1%20.mikado.tparrows%20%7B%0Abackground-color%3Argba%2884%2C221%2C209%2C0%29%3B%0A%7D%0A%0A%23rev_slider_1_1%20.mikado.tparrows%3Abefore%20%7B%0A%20%20display%3Anone%3B%0A%7D%0A%0A%23rev_slider_1_1%20.mikado%20%7B%0A%20%20width%3A77px%3B%0A%20%20height%3A53px%3B%0A%7D%0A%0A.mkd-slide-nav-number-holder%20%7B%0A%20%20position%3Aabsolute%3B%0A%20%20top%3A0%3B%0A%20%20right%3A0%3B%0A%20%20width%3A100%25%3B%0A%20%20height%3A100%25%3B%0A%7D%0A%0A.mkd-slide-nav-line%20%7B%0A%20%20width%3A60px%3B%0A%20%20height%3A2px%3B%0A%20%20background-color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%20%20position%3Aabsolute%3B%0A%20%20bottom%3A18px%3B%0A%7D%0A.mkd-slide-nav-number%20%7B%0A%20%20font-family%3A%20Merriweather%2C%20sans-serif%3B%0A%20%20position%3Aabsolute%3B%0A%20%20bottom%3A21px%3B%0A%20%20color%3A%20rgb%28255%2C%20255%2C%20255%29%3B%0A%20%20font-size%3A14px%3B%0A%20%20font-weight%3A%20600%3B%0A%7D%0A%0A%23rev_slider_1_1%20.mikado.tparrows.tp-leftarrow%20.mkd-slide-nav-number%7B%0A%20%20left%3A40px%3B%0A%7D%0A%0A%23rev_slider_1_1%20.mikado.tparrows.tp-rightarrow%20.mkd-slide-nav-number%7B%0A%20%20right%3A40px%3B%0A%7D%0A%0A%23rev_slider_1_1%20.mikado.tparrows.tp-leftarrow%20.mkd-slide-nav-line%20%7B%0A%20%20left%3A0%3B%0A%7D%0A%0A%23rev_slider_1_1%20.mikado.tparrows.tp-rightarrow%20.mkd-slide-nav-line%20%7B%0A%20%20right%3A0%3B%0A%7D%0A%0A%23rev_slider_1_1%20.mikado.tparrows%20.mkd-slide-nav-number%20%7B%0A%20%20%20%20-webkit-transition%3A%20.3s%20cubic-bezier%280.6%2C%200.02%2C%200.13%2C%200.96%29%3B%0A%20%20%20%20transition%3A%20.3s%20cubic-bezier%280.6%2C%200.02%2C%200.13%2C%200.96%29%3B%0A%7D%0A%0A%23rev_slider_1_1%20.mikado.tparrows%20.mkd-slide-nav-line%20%7B%0A%20%20%20%20-webkit-transition%3A%20.2s%20cubic-bezier%28.15%2C.7%2C.54%2C.99%29%3B%0A%20%20%20%20transition%3A%20.2s%20cubic-bezier%28.15%2C.7%2C.54%2C.99%29%3B%0A%7D%0A%0A%23rev_slider_1_1%20.mikado.tparrows.tp-leftarrow%3Ahover%20.mkd-slide-nav-line%2C%20%0A%23rev_slider_1_1%20.mikado.tparrows.tp-rightarrow%3Ahover%20.mkd-slide-nav-line%20%7B%0A%09-webkit-transform%3A%20scaleX%282%29%3B%0A%20%20%20%20transform%3A%20scaleX%282%29%3B%0A%7D%0A%0A%23rev_slider_1_1%20.mikado.tparrows.tp-leftarrow%3Ahover%20.mkd-slide-nav-number%20%7B%0A%20%20%20%20-webkit-transform%3A%20translateX%2820px%29%3B%0A%20%20%20%20transform%3A%20translateX%2820px%29%3B%0A%7D%0A%0A%23rev_slider_1_1%20.mikado.tparrows.tp-rightarrow%3Ahover%20.mkd-slide-nav-number%20%7B%0A%20%20%20%20-webkit-transform%3A%20translateX%28-20px%29%3B%0A%20%20%20%20transform%3A%20translateX%28-20px%29%3B%0A%7D%0A%0A%0A%23rev_slider_1_1%20.mikado.tp-bullets%20%7B%0A%7D%0A%23rev_slider_1_1%20.mikado.tp-bullets%3Abefore%20%7B%0A%09content%3A%22%20%22%3B%0A%09position%3Aabsolute%3B%0A%09width%3A100%25%3B%0A%09height%3A100%25%3B%0A%09background%3Atransparent%3B%0A%09padding%3A10px%3B%0A%09margin-left%3A-10px%3Bmargin-top%3A-10px%3B%0A%09box-sizing%3Acontent-box%3B%0A%20%20%20border-radius%3A8px%3B%0A%20%20%0A%7D%0A%23rev_slider_1_1%20.mikado%20.tp-bullet%20%7B%0A%09width%3A8px%3B%0A%09height%3A8px%3B%0A%09position%3Aabsolute%3B%0A%20%20%20%20background%3Argba%28255%2C%20255%2C%20255%2C%200%29%3B%0A%09border%3A2px%20solid%20rgb%28255%2C%20255%2C%20255%29%3B%0A%09border-radius%3A50%25%3B%0A%09cursor%3A%20pointer%3B%0A%09box-sizing%3Acontent-box%3B%0A%7D%0A%23rev_slider_1_1%20.mikado%20.tp-bullet%3Ahover%2C%0A%23rev_slider_1_1%20.mikado%20.tp-bullet.selected%20%7B%0A%09background%3Argb%28255%2C%20255%2C%20255%29%3B%0A%7D%0A%23rev_slider_1_1%20.mikado%20.tp-bullet-image%20%7B%0A%7D%0A%23rev_slider_1_1%20.mikado%20.tp-bullet-title%20%7B%0A%7D%0A%0A");
var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
if(htmlDiv) {
htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
}
else{
var htmlDiv = document.createElement('div');
htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
}
</script>
</div><!-- END REVOLUTION SLIDER -->
