<!DOCTYPE html>
<html lang="en-US">
<%= partial "head" %>

<body class="home page-template page-template-full-width page-template-full-width-php page page-id-5 mkd-core-1.1.2 ecologist-ver-1.0  mkd-grid-1300 mkd-blog-installed mkd-boxed-widgets mkd-header-standard mkd-sticky-header-on-scroll-up mkd-default-mobile-header mkd-sticky-up-mobile-header mkd-dropdown-default mkd-light-header mkd-full-width-wide-menu mkd-header-standard-shadow-disable mkd-header-standard-in-grid-shadow-disable mkd-top-bar-light mkd-fullscreen-search mkd-fullscreen-search-with-bg-image mkd-search-fade mkd-side-menu-slide-with-content mkd-width-470 mkd-woocommerce-columns-4 mkd-woo-single-has-pretty-photo wpb-js-composer js-comp-ver-5.1.1 vc_responsive" itemscope itemtype="http://schema.org/WebPage">

<div class="mkd-wrapper">
  <div class="mkd-wrapper-inner">
    <div class="mkd-fullscreen-search-holder">
      <div class="mkd-fullscreen-search-table">
        <div class="mkd-fullscreen-search-cell">
          <div class="mkd-fullscreen-search-inner">
            <form action="http://ecologist.mikado-themes.com/" class="mkd-fullscreen-search-form" method="get">
              <div class="mkd-field-holder">
                <input type="text" name="s" placeholder="search" class="mkd-search-field" autocomplete="off"/>
                <div class="mkd-line"></div>
                <input type="submit" class="mkd-search-submit" value="&#xf21f;"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "header" %>
