---
title: About|Grand Staircase Escalante Partners
---


<%= partial "top" %>

<a id="mkd-back-to-top" href='#'>
  <span class="mkd-back-to-top-icon">
    <i class="mkd-icon-ion-icon ion-chevron-up " >
    </i>
  </span>
</a>
<div class="mkd-content" style="margin-top: -100px">
  <div class="mkd-content-inner">
    <div class="mkd-title mkd-standard-type mkd-preload-background mkd-has-background mkd-has-parallax-background mkd-content-center-alignment mkd-title-in-grid mkd-animation-no mkd-title-image-not-responsive" style="color:#ffffff;;background-image:url(http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/about-us-title.jpg);;height:620px;" data-height="620" data-background-width=&quot;1920&quot;>
      <div class="mkd-title-image">
        <img src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/about-us-title.jpg" alt="&nbsp;"/>
      </div>
      <div class="mkd-title-holder" >
        <div class="mkd-container clearfix">
          <div class="mkd-container-inner">
            <div class="mkd-title-subtitle-holder" style="">
              <div class="mkd-title-subtitle-holder-inner">
                <h1 style="color:#ffffff;">
                  <span>About Us</span>
                </h1>
                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                  <div class="mkd-separator" style="border-color: #54ddd1;width: 61px;border-bottom-width: 2px;margin-top: 6px;margin-bottom: 18px">
                  </div>
                </div>
                <span class="mkd-subtitle" style="color:#ffffff;">
                  <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mkd-full-width">
      <div class="mkd-full-width-inner">
        <div class="mkd-grid-row">
          <div class="mkd-page-content-holder mkd-grid-col-12">
            <div class="vc_row wpb_row vc_row-fluid mkd-section vc_custom_1493908644206 mkd-content-aligment-center mkd-grid-section" style="">
              <div class="clearfix mkd-section-inner">
                <div class="mkd-section-inner-margin clearfix">
                  <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="mkd-elements-holder mkd-responsive-mode-1280 mkd-one-column-alignment-center" >
                          <div class="mkd-elements-holder-item mkd-width-1-2 mkd-vertical-alignment-middle mkd-horizontal-alignment-center" data-item-class="mkd-elements-holder-custom-393396" data-1024-1280="0px 45px 0px 0px" data-768-1024="0 0px " data-480="0 2px 0 2px" >
                            <div class="mkd-elements-holder-item-inner">
                              <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-393396" style="padding: 0px 75px 0px 0px ">
                                <div class="mkd-elements-holder-item-content-inner">
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <h4 style="text-align: left;">
                                        <span style="color: #54ddd1;">what we do </span>
                                      </h4>
                                    </div>
                                  </div>
                                  <div data-original-height="11" class="vc_empty_space"  style="height: 11px" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <h3 style="text-align: left;">visually stunning experiences for web.</h3>
                                    </div>
                                  </div>
                                  <div data-original-height="4" class="vc_empty_space"  style="height: 4px" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <p style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed urna a sem pretium ac quis nunc. Proin nibh risus, tempus ac commodo eu, finibus a nulla. Vestibulum at tellus ex. Aenean aliquam, lacus auctor fringilla euismod, sapien enim eleifend ante, nec suscipit nibh massa quis ex. Sed turpis neque, blandit nec rutrum eu, lobortis sit amet sem.  Duis ex nisl, interdum sit amet elementum dapibus, sollicitudin sagittis metus. Nunc vulputate augue id laoreet suscipit. Aenean vitae ex lobortis metus lacinia facilisis sit ametac. Etiam sollicitudin lacus eget placerat venenatis. Morbi malesuada volutpat ipsum eu gravida</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="mkd-elements-holder-item-bgrnd"  ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="mkd-elements-holder mkd-responsive-mode-1280" >
                          <div class="mkd-elements-holder-item mkd-width-1-1 mkd-vertical-alignment-middle mkd-horizontal-alignment-left" data-item-class="mkd-elements-holder-custom-122470" data-1024-1280="42px 0 0px 0" data-768-1024="60px 0 60px 0" data-480="55px 0 " >
                            <div class="mkd-elements-holder-item-inner">
                              <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-122470" style="padding: 16px 0 0px 0">
                                <div class="mkd-elements-holder-item-content-inner">
                                  <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-medium" >
                                    <div class="mkd-iwt-icon-holder">
                                      <span class="mkd-icon-shortcode normal" style="margin: 0 45px 0 0 " data-color="#54ddd1">
                                        <i class="mkd-icon-ion-icon ion-earth mkd-icon-element" style="color: #54ddd1;font-size:48px" ></i>
                                      </span>
                                    </div>
                                    <div class="mkd-iwt-content-holder" style="padding: 0 0 0 85px">
                                      <div class="mkd-iwt-title-holder">
                                        <h5 class="mkd-iwt-title" style="text-transform: lowercase;font-weight: 800;letter-spacing: 25">having a plan feels good.</h5>
                                      </div>
                                    <div class="mkd-iwt-text-holder">
                                      <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed urna a sem pretium porta ac quis nunc. Proin nibh risus, tempus ac commodo eu, finibus a nulla. Vestibulum at tellus ex.</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                                  <div class="mkd-separator" style="border-color: #eaeaea;border-style: solid;width: 630px;margin-top: 28px;margin-bottom: 34px"></div>
                                </div>
                                <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-medium" >
                                  <div class="mkd-iwt-icon-holder">
                                    <span class="mkd-icon-shortcode normal" style="margin: 0px 5px 0px 3px" data-color="#54ddd1">
                                      <i class="mkd-icon-ion-icon ion-android-sync mkd-icon-element" style="color: #54ddd1;font-size:60px" ></i>
                                    </span>
                                  </div>
                                  <div class="mkd-iwt-content-holder" style="padding: 0 0 0 85px">
                                    <div class="mkd-iwt-title-holder">
                                      <h5 class="mkd-iwt-title" style="text-transform: lowercase;font-weight: 800;letter-spacing: 0px"      >a true businees partner</h5>
                                    </div>
                                    <div class="mkd-iwt-text-holder">
                                      <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed urna a sem pretium porta ac quis nunc. Proin nibh risus, tempus ac commodo eu, finibus a nulla. Vestibulum at tellus ex. </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mkd-elements-holder-item-bgrnd"  ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_row-fluid mkd-section mkd-content-aligment-left" style="">
            <div class="clearfix mkd-full-section-inner">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1493900269925">
                  <div class="wpb_wrapper">
                    <div class="mkd-elements-holder mkd-responsive-mode-1024" >
                      <div class="mkd-elements-holder-item mkd-width-1-2 mkd-vertical-alignment-middle mkd-horizontal-alignment-center" data-item-class="mkd-elements-holder-custom-531910" data-480-600="0 10px 0 10px" >
                        <div class="mkd-elements-holder-item-inner">
                          <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-531910" style="padding: 284px 100px">
                            <div class="mkd-elements-holder-item-content-inner">
                            </div>
                          </div>
                        </div>
                        <div class="mkd-elements-holder-item-bgrnd"  style="background-image: url(http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/about-us-img-1.jpg)"></div>
                      </div>
                      <div class="mkd-elements-holder-item mkd-width-1-2 mkd-vertical-alignment-middle mkd-horizontal-alignment-center" data-item-class="mkd-elements-holder-custom-866030" data-1280-1440="9px 15%" data-1024-1280="9px 80px" data-768-1024="9px 150px 8px 150px" data-600-768="40px 65px 40px 65px" data-480="0 40px 0 40px" >
                        <div class="mkd-elements-holder-item-inner">
                          <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-866030" style="padding: 9px 220px 8px 130px">
                            <div class="mkd-elements-holder-item-content-inner">
                              <div data-original-height="120" class="vc_empty_space"  style="height: 120px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                              <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                  <h3 style="text-align: left;">
                                    <span style="color: #ffffff;">what we do</span>
                                  </h3>
                                </div>
                              </div>
                              <div data-original-height="26" class="vc_empty_space"  style="height: 26px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                              <div class="mkd-section-subtitle-holder mkd-section-subtitle-left" >
                                <p style="color: #ffffff;text-align: left" class="mkd-section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac nulla a elit gravida venenatis pellente</p>
                              </div>
                              <div data-original-height="40" class="vc_empty_space"  style="height: 40px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                              <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-medium" >
                                <div class="mkd-iwt-icon-holder">
                                  <span class="mkd-icon-shortcode normal" style="margin: 5px 0 0 0" data-color="#ffffff">
                                    <i class="mkd-icon-ion-icon ion-android-sunny mkd-icon-element" style="color: #ffffff;font-size:50px" ></i>
                                  </span>
                                </div>
                                <div class="mkd-iwt-content-holder" >
                                  <div class="mkd-iwt-text-holder">
                                    <p style="color: #ffffff">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed urna a sem pretium porta ac quis nunc.</p>
                                  </div>
                                </div>
                              </div>
                              <div data-original-height="30" class="vc_empty_space"  style="height: 30px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                              <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-medium" >
                                <div class="mkd-iwt-icon-holder">
                                  <span class="mkd-icon-shortcode normal" style="margin: 5px 0 0 0" data-color="#ffffff">
                                    <i class="mkd-icon-ion-icon ion-ios-cloud-outline mkd-icon-element" style="color: #ffffff;font-size:50px" ></i>
                                  </span>
                                </div>
                                <div class="mkd-iwt-content-holder" >
                                  <div class="mkd-iwt-text-holder">
                                    <p style="color: #ffffff">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed urna a sem pretium porta ac quis nunc.</p>
                                  </div>
                                </div>
                              </div>
                              <div data-original-height="113" class="vc_empty_space"  style="height: 113px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mkd-elements-holder-item-bgrnd"  style="background-color: #54ddd1"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_row-fluid mkd-section vc_custom_1493901842044 mkd-content-aligment-left mkd-grid-section" style="">
            <div class="clearfix mkd-section-inner">
              <div class="mkd-section-inner-margin clearfix">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="mkd-testimonials-holder clearfix dark">
                        <div class="mkd-testimonials testimonials-slider mkd-dark-navigation" >
                          <div class="mkd-testimonial-content testimonials-slider">
                            <div class="mkd-testimonial-author-image-quote">
                              <div class="mkd-testimonial-author-image">
                                <img width="107" height="107" src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/t1.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="a" />
                              </div>
                            </div>
                            <div class="mkd-testimonial-content-inner">
                              <div class="mkd-testimonial-text-holder">
                                <div class="mkd-testimonial-text-inner ">
                                  <h4 class="mkd-testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed urna a sem pretium porta ac quis nunc. Proin nibh risus, tempus ac commodo eu, finibus a nulla</h4>
                                  <div class="mkd-testimonial-author">
                                    <h6 class="mkd-testimonial-author-text ">Richard Fields</h6>
                                    <p class="mkd-testimonials-job ">Designer</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mkd-testimonial-content testimonials-slider">
                            <div class="mkd-testimonial-author-image-quote">
                              <div class="mkd-testimonial-author-image">
                                <img width="107" height="107" src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/t2.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="a" />
                              </div>
                            </div>
                            <div class="mkd-testimonial-content-inner">
                              <div class="mkd-testimonial-text-holder">
                                <div class="mkd-testimonial-text-inner ">
                                  <h4 class="mkd-testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed urna a sem pretium porta ac quis nunc. Proin nibh risus, tempus ac commodo eu, finibus a nulla</h4>
                                  <div class="mkd-testimonial-author">
                                    <h6 class="mkd-testimonial-author-text ">John Gambl</h6>
                                    <p class="mkd-testimonials-job ">Graphic Designer</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- close div.content_inner -->
</div>  <!-- close div.content -->

<%= partial "bottom" %>