---
title: About|Grand Staircase Escalante Partners
---

<!DOCTYPE html>
<html lang="en-US">

<%= partial "head" %>

<body class="page-template page-template-full-width page-template-full-width-php page page-id-312 mkd-core-1.1.2 ecologist-ver-1.0  mkd-grid-1300 mkd-blog-installed mkd-boxed-widgets mkd-header-standard mkd-sticky-header-on-scroll-up mkd-default-mobile-header mkd-sticky-up-mobile-header mkd-dropdown-default mkd-light-header mkd-full-width-wide-menu mkd-header-standard-in-grid-shadow-disable mkd-top-bar-light mkd-fullscreen-search mkd-fullscreen-search-with-bg-image mkd-search-fade mkd-side-menu-slide-with-content mkd-width-470 mkd-title-with-subtitle mkd-woocommerce-columns-4 mkd-woo-single-has-pretty-photo wpb-js-composer js-comp-ver-5.1.1 vc_responsive" itemscope itemtype="http://schema.org/WebPage">

  <%= partial "sidebar" %>
<!--
  <div class="mkd-wrapper">
    <div class="mkd-wrapper-inner">
      <div class="mkd-fullscreen-search-holder">
        <div class="mkd-fullscreen-search-table">
          <div class="mkd-fullscreen-search-cell">
            <div class="mkd-fullscreen-search-inner">
              <form action="http://ecologist.mikado-themes.com/" class="mkd-fullscreen-search-form" method="get">
                <input type="text" name="s" placeholder="search" class="mkd-search-field" autocomplete="off"/>
                <div class="mkd-line">
                </div>
                <input type="submit" class="mkd-search-submit" value="&#xf21f;"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
-->
<%= partial "header" %>

<a id="mkd-back-to-top" href='#'>
  <span class="mkd-back-to-top-icon">
    <i class="mkd-icon-ion-icon ion-chevron-up " >
    </i>
  </span>
</a>
<div class="mkd-content" style="margin-top: -100px">
  <div class="mkd-content-inner">
    <div class="mkd-title mkd-standard-type mkd-preload-background mkd-has-background mkd-has-parallax-background mkd-content-center-alignment mkd-title-in-grid mkd-animation-no mkd-title-image-not-responsive" style="color:#ffffff;;background-image:url(http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/about-us-title.jpg);;height:620px;" data-height="620" data-background-width=&quot;1920&quot;>
      <div class="mkd-title-image">
        <img src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/about-us-title.jpg" alt="&nbsp;"/>
      </div>
      <div class="mkd-title-holder" >
        <div class="mkd-container clearfix">
          <div class="mkd-container-inner">
            <div class="mkd-title-subtitle-holder" style="">
              <div class="mkd-title-subtitle-holder-inner">
                <h1 style="color:#ffffff;">
                  <span>About Us</span>
                </h1>
                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                  <div class="mkd-separator" style="border-color: #54ddd1;width: 61px;border-bottom-width: 2px;margin-top: 6px;margin-bottom: 18px">
                  </div>
                </div>
                <span class="mkd-subtitle" style="color:#ffffff;">
                  <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mkd-full-width">
      <div class="mkd-full-width-inner">
        <div class="mkd-grid-row">
          <div class="mkd-page-content-holder mkd-grid-col-12">
            <div class="vc_row wpb_row vc_row-fluid mkd-section vc_custom_1493908644206 mkd-content-aligment-center mkd-grid-section" style="">
              <div class="clearfix mkd-section-inner">
                <div class="mkd-section-inner-margin clearfix">
                  <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="mkd-elements-holder mkd-responsive-mode-1280 mkd-one-column-alignment-center" >
                          <div class="mkd-elements-holder-item mkd-width-1-2 mkd-vertical-alignment-middle mkd-horizontal-alignment-center" data-item-class="mkd-elements-holder-custom-393396" data-1024-1280="0px 45px 0px 0px" data-768-1024="0 0px " data-480="0 2px 0 2px" >
                            <div class="mkd-elements-holder-item-inner">
                              <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-393396" style="padding: 0px 75px 0px 0px ">
                                <div class="mkd-elements-holder-item-content-inner">
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <h4 style="text-align: left;">
                                        <span style="color: #54ddd1;">what we do </span>
                                      </h4>
                                    </div>
                                  </div>
                                  <div data-original-height="11" class="vc_empty_space"  style="height: 11px" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <h3 style="text-align: left;">visually stunning experiences for web.</h3>
                                    </div>
                                  </div>
                                  <div data-original-height="4" class="vc_empty_space"  style="height: 4px" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <p style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed urna a sem pretium ac quis nunc. Proin nibh risus, tempus ac commodo eu, finibus a nulla. Vestibulum at tellus ex. Aenean aliquam, lacus auctor fringilla euismod, sapien enim eleifend ante, nec suscipit nibh massa quis ex. Sed turpis neque, blandit nec rutrum eu, lobortis sit amet sem.  Duis ex nisl, interdum sit amet elementum dapibus, sollicitudin sagittis metus. Nunc vulputate augue id laoreet suscipit. Aenean vitae ex lobortis metus lacinia facilisis sit ametac. Etiam sollicitudin lacus eget placerat venenatis. Morbi malesuada volutpat ipsum eu gravida</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="mkd-elements-holder-item-bgrnd"  ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="mkd-elements-holder mkd-responsive-mode-1280" >
                          <div class="mkd-elements-holder-item mkd-width-1-1 mkd-vertical-alignment-middle mkd-horizontal-alignment-left" data-item-class="mkd-elements-holder-custom-122470" data-1024-1280="42px 0 0px 0" data-768-1024="60px 0 60px 0" data-480="55px 0 " >
                            <div class="mkd-elements-holder-item-inner">
                              <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-122470" style="padding: 16px 0 0px 0">
                                <div class="mkd-elements-holder-item-content-inner">
                                  <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-medium" >
                                    <div class="mkd-iwt-icon-holder">
                                      <span class="mkd-icon-shortcode normal" style="margin: 0 45px 0 0 " data-color="#54ddd1">
                                        <i class="mkd-icon-ion-icon ion-earth mkd-icon-element" style="color: #54ddd1;font-size:48px" ></i>
                                      </span>
                                    </div>
                                    <div class="mkd-iwt-content-holder" style="padding: 0 0 0 85px">
                                      <div class="mkd-iwt-title-holder">
                                        <h5 class="mkd-iwt-title" style="text-transform: lowercase;font-weight: 800;letter-spacing: 25">having a plan feels good.</h5>
                                      </div>
                                    <div class="mkd-iwt-text-holder">
                                      <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed urna a sem pretium porta ac quis nunc. Proin nibh risus, tempus ac commodo eu, finibus a nulla. Vestibulum at tellus ex.</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                                  <div class="mkd-separator" style="border-color: #eaeaea;border-style: solid;width: 630px;margin-top: 28px;margin-bottom: 34px"></div>
                                </div>
                                <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-medium" >
                                  <div class="mkd-iwt-icon-holder">
                                    <span class="mkd-icon-shortcode normal" style="margin: 0px 5px 0px 3px" data-color="#54ddd1">
                                      <i class="mkd-icon-ion-icon ion-android-sync mkd-icon-element" style="color: #54ddd1;font-size:60px" ></i>
                                    </span>
                                  </div>
                                  <div class="mkd-iwt-content-holder" style="padding: 0 0 0 85px">
                                    <div class="mkd-iwt-title-holder">
                                      <h5 class="mkd-iwt-title" style="text-transform: lowercase;font-weight: 800;letter-spacing: 0px"      >a true businees partner</h5>
                                    </div>
                                    <div class="mkd-iwt-text-holder">
                                      <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed urna a sem pretium porta ac quis nunc. Proin nibh risus, tempus ac commodo eu, finibus a nulla. Vestibulum at tellus ex. </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mkd-elements-holder-item-bgrnd"  ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_row-fluid mkd-section mkd-content-aligment-left" style="">
            <div class="clearfix mkd-full-section-inner">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1493900269925">
                  <div class="wpb_wrapper">
                    <div class="mkd-elements-holder mkd-responsive-mode-1024" >
                      <div class="mkd-elements-holder-item mkd-width-1-2 mkd-vertical-alignment-middle mkd-horizontal-alignment-center" data-item-class="mkd-elements-holder-custom-531910" data-480-600="0 10px 0 10px" >
                        <div class="mkd-elements-holder-item-inner">
                          <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-531910" style="padding: 284px 100px">
                            <div class="mkd-elements-holder-item-content-inner">
                            </div>
                          </div>
                        </div>
                        <div class="mkd-elements-holder-item-bgrnd"  style="background-image: url(http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/about-us-img-1.jpg)"></div>
                      </div>
                      <div class="mkd-elements-holder-item mkd-width-1-2 mkd-vertical-alignment-middle mkd-horizontal-alignment-center" data-item-class="mkd-elements-holder-custom-866030" data-1280-1440="9px 15%" data-1024-1280="9px 80px" data-768-1024="9px 150px 8px 150px" data-600-768="40px 65px 40px 65px" data-480="0 40px 0 40px" >
                        <div class="mkd-elements-holder-item-inner">
                          <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-866030" style="padding: 9px 220px 8px 130px">
                            <div class="mkd-elements-holder-item-content-inner">
                              <div data-original-height="120" class="vc_empty_space"  style="height: 120px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                              <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                  <h3 style="text-align: left;">
                                    <span style="color: #ffffff;">what we do</span>
                                  </h3>
                                </div>
                              </div>
                              <div data-original-height="26" class="vc_empty_space"  style="height: 26px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                              <div class="mkd-section-subtitle-holder mkd-section-subtitle-left" >
                                <p style="color: #ffffff;text-align: left" class="mkd-section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac nulla a elit gravida venenatis pellente</p>
                              </div>
                              <div data-original-height="40" class="vc_empty_space"  style="height: 40px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                              <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-medium" >
                                <div class="mkd-iwt-icon-holder">
                                  <span class="mkd-icon-shortcode normal" style="margin: 5px 0 0 0" data-color="#ffffff">
                                    <i class="mkd-icon-ion-icon ion-android-sunny mkd-icon-element" style="color: #ffffff;font-size:50px" ></i>
                                  </span>
                                </div>
                                <div class="mkd-iwt-content-holder" >
                                  <div class="mkd-iwt-text-holder">
                                    <p style="color: #ffffff">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed urna a sem pretium porta ac quis nunc.</p>
                                  </div>
                                </div>
                              </div>
                              <div data-original-height="30" class="vc_empty_space"  style="height: 30px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                              <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-medium" >
                                <div class="mkd-iwt-icon-holder">
                                  <span class="mkd-icon-shortcode normal" style="margin: 5px 0 0 0" data-color="#ffffff">
                                    <i class="mkd-icon-ion-icon ion-ios-cloud-outline mkd-icon-element" style="color: #ffffff;font-size:50px" ></i>
                                  </span>
                                </div>
                                <div class="mkd-iwt-content-holder" >
                                  <div class="mkd-iwt-text-holder">
                                    <p style="color: #ffffff">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed urna a sem pretium porta ac quis nunc.</p>
                                  </div>
                                </div>
                              </div>
                              <div data-original-height="113" class="vc_empty_space"  style="height: 113px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mkd-elements-holder-item-bgrnd"  style="background-color: #54ddd1"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_row-fluid mkd-section vc_custom_1493901842044 mkd-content-aligment-left mkd-grid-section" style="">
            <div class="clearfix mkd-section-inner">
              <div class="mkd-section-inner-margin clearfix">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="mkd-testimonials-holder clearfix dark">
                        <div class="mkd-testimonials testimonials-slider mkd-dark-navigation" >
                          <div class="mkd-testimonial-content testimonials-slider">
                            <div class="mkd-testimonial-author-image-quote">
                              <div class="mkd-testimonial-author-image">
                                <img width="107" height="107" src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/t1.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="a" />
                              </div>
                            </div>
                            <div class="mkd-testimonial-content-inner">
                              <div class="mkd-testimonial-text-holder">
                                <div class="mkd-testimonial-text-inner ">
                                  <h4 class="mkd-testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed urna a sem pretium porta ac quis nunc. Proin nibh risus, tempus ac commodo eu, finibus a nulla</h4>
                                  <div class="mkd-testimonial-author">
                                    <h6 class="mkd-testimonial-author-text ">Richard Fields</h6>
                                    <p class="mkd-testimonials-job ">Designer</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mkd-testimonial-content testimonials-slider">
                            <div class="mkd-testimonial-author-image-quote">
                              <div class="mkd-testimonial-author-image">
                                <img width="107" height="107" src="http://ecologist.mikado-themes.com/wp-content/uploads/2017/04/t2.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="a" />
                              </div>
                            </div>
                            <div class="mkd-testimonial-content-inner">
                              <div class="mkd-testimonial-text-holder">
                                <div class="mkd-testimonial-text-inner ">
                                  <h4 class="mkd-testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed urna a sem pretium porta ac quis nunc. Proin nibh risus, tempus ac commodo eu, finibus a nulla</h4>
                                  <div class="mkd-testimonial-author">
                                    <h6 class="mkd-testimonial-author-text ">John Gambl</h6>
                                    <p class="mkd-testimonials-job ">Graphic Designer</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- close div.content_inner -->
</div>  <!-- close div.content -->

<%= partial "footer" %>

</div> <!-- close div.mkd-wrapper-inner  -->
</div> <!-- close div.mkd-wrapper -->


<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
/* ]]> */
</script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.7'></script>
<script type='text/javascript' src='//ecologist.mikado-themes.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
<script type='text/javascript' src='//ecologist.mikado-themes.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/about-us\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='//ecologist.mikado-themes.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.0.8'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/about-us\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"};
/* ]]> */
</script>
<script type='text/javascript' src='//ecologist.mikado-themes.com/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.0.8'></script>
<script type='text/javascript' src='//ecologist.mikado-themes.com/wp-content/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min.js?ver=3.1.6'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.selectBox.min.js?ver=1.2.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var yith_wcwl_l10n = {"ajax_url":"\/wp-admin\/admin-ajax.php","redirect_to_cart":"no","multi_wishlist":"","hide_add_button":"1","is_user_logged_in":"","ajax_loader_url":"http:\/\/ecologist.mikado-themes.com\/wp-content\/plugins\/yith-woocommerce-wishlist\/assets\/images\/ajax-loader.gif","remove_from_wishlist_after_add_to_cart":"yes","labels":{"cookie_disabled":"We are sorry, but this feature is available only if cookies are enabled on your browser.","added_to_cart_message":"<div class=\"woocommerce-message\">Product correctly added to cart<\/div>"},"actions":{"add_to_wishlist_action":"add_to_wishlist","remove_from_wishlist_action":"remove_from_wishlist","move_to_another_wishlist_action":"move_to_another_wishlsit","reload_wishlist_and_adding_elem_action":"reload_wishlist_and_adding_elem"}};
/* ]]> */
</script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl.js?ver=2.1.2'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-includes/js/jquery/ui/tabs.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-includes/js/jquery/ui/accordion.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-includes/js/jquery/ui/datepicker.min.js?ver=1.11.4'></script>
<script type='text/javascript'>
jQuery(document).ready(function(jQuery){jQuery.datepicker.setDefaults({"closeText":"Close","currentText":"Today","monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"nextText":"Next","prevText":"Previous","dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"dateFormat":"dd.mm.yy.","firstDay":1,"isRTL":false});});
</script>
<script type='text/javascript'>
/* <![CDATA[ */
var mejsL10n = {"language":"en-US","strings":{"Close":"Close","Fullscreen":"Fullscreen","Turn off Fullscreen":"Turn off Fullscreen","Go Fullscreen":"Go Fullscreen","Download File":"Download File","Download Video":"Download Video","Play":"Play","Pause":"Pause","Captions\/Subtitles":"Captions\/Subtitles","None":"None","Time Slider":"Time Slider","Skip back %1 seconds":"Skip back %1 seconds","Video Player":"Video Player","Audio Player":"Audio Player","Volume Slider":"Volume Slider","Mute Toggle":"Mute Toggle","Unmute":"Unmute","Mute":"Mute","Use Up\/Down Arrow keys to increase or decrease volume.":"Use Up\/Down Arrow keys to increase or decrease volume.","Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.":"Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds."}};
var _wpmejsSettings = {"pluginPath":"\/wp-includes\/js\/mediaelement\/"};
/* ]]> */
</script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=2.22.0'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/jquery.appear.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/modernizr.custom.85257.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/jquery.hoverIntent.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/jquery.plugin.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/jquery.countdown.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/parallax.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='//ecologist.mikado-themes.com/wp-content/plugins/woocommerce/assets/js/select2/select2.full.min.js?ver=4.0.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/easypiechart.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/jquery.waypoints.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/Chart.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/counter.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/absoluteCounter.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/fluidvids.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/jquery.prettyPhoto.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/jquery.nicescroll.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/ScrollToPlugin.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/TweenLite.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/CSSPlugin.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/EasePack.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/jquery-scrollspy.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/jquery.mixitup.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/jquery.multiscroll.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/jquery.waitforimages.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/jquery.infinitescroll.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/jquery.easing.1.3.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/skrollr.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/slick.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/jquery.touchpunch.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/jquery.flexslider-min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/TimelineLite.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/plugins/js_composer/assets/lib/bower/isotope/dist/isotope.pkgd.min.js?ver=5.1.1'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules/plugins/packery-mode.pkgd.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?ver=4.7.3'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var mkdGlobalVars = {"vars":{"mkdAddForAdminBar":0,"mkdElementAppearAmount":-150,"mkdFinishedMessage":"No more posts","mkdMessage":"Loading new posts...","mkdPtfLoadMoreMessage":"Loading...","mkdTopBarHeight":0,"mkdStickyHeaderHeight":90,"mkdStickyHeaderTransparencyHeight":90,"mkdLogoAreaHeight":0,"mkdMenuAreaHeight":100,"mkdMobileHeaderHeight":100}};
var mkdPerPageVars = {"vars":{"mkdStickyScrollAmount":0,"mkdStickyScrollAmountFullScreen":false,"mkdHeaderTransparencyHeight":0}};
/* ]]> */
</script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/modules.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/blog.min.js?ver=4.7.3'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=5.1.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var mkdLike = {"ajaxurl":"http:\/\/ecologist.mikado-themes.com\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-content/themes/ecologist/assets/js/like.js?ver=1.0'></script>
<script type='text/javascript' src='http://ecologist.mikado-themes.com/wp-includes/js/wp-embed.min.js?ver=4.7.3'></script>
</body>
</html>