---
title: About | Grand Staircase Escalante Partners
---

<!DOCTYPE html>
<html lang="en-US">
<%= partial "head" %>

<body class="home page-template page-template-full-width page-template-full-width-php page page-id-5 mkd-core-1.1.2 ecologist-ver-1.0  mkd-grid-1300 mkd-blog-installed mkd-boxed-widgets mkd-header-standard mkd-sticky-header-on-scroll-up mkd-default-mobile-header mkd-sticky-up-mobile-header mkd-dropdown-default mkd-light-header mkd-full-width-wide-menu mkd-header-standard-shadow-disable mkd-header-standard-in-grid-shadow-disable mkd-top-bar-light mkd-fullscreen-search mkd-fullscreen-search-with-bg-image mkd-search-fade mkd-side-menu-slide-with-content mkd-width-470 mkd-woocommerce-columns-4 mkd-woo-single-has-pretty-photo wpb-js-composer js-comp-ver-5.1.1 vc_responsive" itemscope itemtype="http://schema.org/WebPage">

<%= partial "sidebar" %>

<div class="mkd-wrapper">
  <div class="mkd-wrapper-inner">
    <div class="mkd-fullscreen-search-holder">
      <div class="mkd-fullscreen-search-table">
        <div class="mkd-fullscreen-search-cell">
          <div class="mkd-fullscreen-search-inner">
            <form action="http://ecologist.mikado-themes.com/" class="mkd-fullscreen-search-form" method="get">
              <div class="mkd-field-holder">
                <input type="text" name="s" placeholder="search" class="mkd-search-field" autocomplete="off"/>
                <div class="mkd-line"></div>
                <input type="submit" class="mkd-search-submit" value="&#xf21f;"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "home_header" %>

<div class="mkd-content" style="margin-top: -100px">
  <div class="mkd-content-inner">
    <div class="mkd-title mkd-standard-type mkd-content-center-alignment mkd-title-in-grid mkd-animation-no mkd-title-image-not-responsive" style="color:#ffffff;background-image:url(/images/rainbow.jpg);height:620px;" data-height="620" data-background-width="1920";>
      <div class="mkd-title-image">
        <img src="images/rainbow.jpg" alt="rainbow"/>
      </div>
      <div class="mkd-title-holder" >
        <div class="mkd-container clearfix">
          <div class="mkd-container-inner">
            <div class="mkd-title-subtitle-holder" style="">
              <div class="mkd-title-subtitle-holder-inner">
                <h1 style="color:#ffffff;">
                  <span class="gs-slider-lyr1">About US</span>
                </h1>
                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                  <div class="mkd-separator" style="border-color: #F0691B;width: 61px;border-bottom-width: 2px;margin-top: 6px;margin-bottom: 18px">
                  </div>
                </div>
                <span class="mkd-subtitle" style="color:#ffffff;">
                  <span class="gs-slider-lyr3">Our mission and our monument</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mkd-full-width">
      <div class="mkd-full-width-inner">
        <div class="mkd-grid-row">
          <div class="mkd-page-content-holder mkd-grid-col-12">
            <div class="vc_row wpb_row vc_row-fluid mkd-section vc_custom_1493908644206 mkd-content-aligment-center mkd-grid-section" style="">
              <div class="clearfix mkd-section-inner">
                <div class="mkd-section-inner-margin clearfix">
                  <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="mkd-elements-holder mkd-responsive-mode-1280 mkd-one-column-alignment-center" >
                          <div class="mkd-elements-holder-item mkd-width-1-2 mkd-vertical-alignment-middle mkd-horizontal-alignment-center" data-item-class="mkd-elements-holder-custom-358229" data-1024-1280="0px 45px 0px 0px" data-768-1024="0 0px " data-480="0 2px 0 2px" >
                            <div class="mkd-elements-holder-item-inner">
                              <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-358229" style="padding: 0px 75px 0px 0px ">
                                <div class="mkd-elements-holder-item-content-inner">
                                  <div data-original-height="40" class="vc_empty_space"  style="height: 40" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <h3 class="gs-title-text" style="text-align: left;">About the Monument</h3>
                                    </div>
                                  </div>
                                  <div data-original-height="4" class="vc_empty_space"  style="height: 4px" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <p class="gs-text" style="text-align: left;">Grand Staircase-Escalante National Monument’s vast and austere landscape embraces a spectacular array of scientific and historic resources. This is a high, rugged and remote region, where bold plateaus and multi-hued cliffs run for distances, defying human perspective. It was the last place in the continental United States to be mapped. These strikingly beautiful and scientifically important lands are divided into three distinct regions: the Grand Staircase, the Kaiparowits Plateau and the Canyons of the Escalante. Grand Staircase-Escalante National Monument encompasses 1.9 million acres of southern Utah canyons, cliffs and plateaus.</p>
                                    </div>
                                  </div>
                                  <div data-original-height="20" class="vc_empty_space"  style="height: 20" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="mkd-elements-holder-item-bgrnd"  ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                    <div class="vc_column-inner ">
                      <div class="wpb_wrapper">
                        <div class="mkd-elements-holder mkd-responsive-mode-1280" >
                          <div class="mkd-elements-holder-item mkd-width-1-1 mkd-vertical-alignment-middle mkd-horizontal-alignment-left" data-item-class="mkd-elements-holder-custom-122470" data-1024-1280="42px 0 0px 0" data-768-1024="60px 0 60px 0" data-480="55px 0 " >
                            <div class="mkd-elements-holder-item-inner">
                              <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-122470" style="padding: 16px 0 0px 0">
                                <div class="mkd-elements-holder-item-content-inner">
                                  <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-medium" >
                                    <div class="mkd-iwt-content-holder" style="padding: 0 0 0 85px">
                                      <div data-original-height="20" class="vc_empty_space"  style="height: 20" >
                                        <span class="vc_empty_space_inner"></span>
                                      </div>
                                      <div class="mkd-iwt-title-holder">
                                        <h5 class="mkd-iwt-title gs-title-text" style="font-weight: 800;letter-spacing: 25">Scientific</h5>
                                      </div>
                                    <div class="mkd-iwt-text-holder">
                                      <p class="gs-text">Even today, this unspoiled natural area remains a frontier, a quality that greatly enhances Grand Staircase’s value for scientific study and presents exemplary opportunities for geologists, paleontologists, archaeologists, historians, and biologists.</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="mkd-separator-holder clearfix  mkd-separator-center">
                                  <div class="mkd-separator" style="border-color: #eaeaea;border-style: solid;width: 630px;margin-top: 28px;margin-bottom: 34px"></div>
                                </div>
                                <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-medium" >
                                  <div class="mkd-iwt-content-holder" style="padding: 0 0 0 85px">
                                    <div class="mkd-iwt-title-holder">
                                      <h5 class="mkd-iwt-title gs-title-text" style="font-weight: 800;letter-spacing: 0px"      >Historic</h5>
                                    </div>
                                    <div class="mkd-iwt-text-holder">
                                      <p class="gs-text" style="padding-bottom: 20px">These nearly 2 million acres were designated a national monument on Sept. 18, 1996. Grand Staircase is administered by the Bureau of Land Management (BLM), and in 2000, became the first unit of BLM’s National Landscape Conservation System. </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mkd-elements-holder-item-bgrnd"  ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_row-fluid mkd-section mkd-content-aligment-left" style="">
            <div class="clearfix mkd-full-section-inner">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1493900269925">
                  <div class="wpb_wrapper">
                    <div class="mkd-elements-holder mkd-responsive-mode-1024" >
                      <div class="mkd-elements-holder-item mkd-width-1-2 mkd-vertical-alignment-middle mkd-horizontal-alignment-center" data-item-class="mkd-elements-holder-custom-531910" data-480-600="0 10px 0 10px" >
                        <div class="mkd-elements-holder-item-inner">
                          <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-531910" style="padding: 284px 100px">
                            <div class="mkd-elements-holder-item-content-inner">
                            </div>
                          </div>
                        </div>
                        <div class="mkd-elements-holder-item-bgrnd"  style="background-image: url(/images/arch.jpg)"></div>
                      </div>
                      <div class="mkd-elements-holder-item mkd-width-1-2 mkd-vertical-alignment-middle mkd-horizontal-alignment-center" data-item-class="mkd-elements-holder-custom-866030" data-1280-1440="9px 15%" data-1024-1280="9px 80px" data-768-1024="9px 150px 8px 150px" data-600-768="40px 65px 40px 65px" data-480="0 40px 0 40px" >
                        <div class="mkd-elements-holder-item-inner">
                          <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-866030" style="padding: 9px 220px 8px 130px">
                            <div class="mkd-elements-holder-item-content-inner">
                              <div data-original-height="20" class="vc_empty_space"  style="height: 20px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                              <div class="wpb_text_column wpb_content_element " >
                                <div class="wpb_wrapper">
                                  <h3 style="text-align: left;">
                                    <span class="gs-title-text">Our Job</span>
                                  </h3>
                                </div>
                              </div>
                              <div data-original-height="20" class="vc_empty_space"  style="height: 20px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                              <div class="mkd-section-subtitle-holder mkd-section-subtitle-left" >
                                <p style="text-align: left" class="mkd-section-subtitle gs-subhdr-text">We are the official support organization for Grand Staircase-Escalante National Monument</p>
                              </div>
                              <div data-original-height="15" class="vc_empty_space"  style="height: 15px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                              <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-medium" >
                                <div class="mkd-iwt-icon-holder">
                                  <span class="mkd-icon-shortcode normal" style="margin: 5px 0 0 0" data-color="">
                                    <i class="fa fa-flask fa-3x" style="padding-left: 3px" aria-hidden="true"></i>
                                  </span>
                                </div>
                                <div class="mkd-iwt-content-holder" >
                                  <div class="mkd-iwt-text-holder">
                                    <p class="gs-text">Promote science, education and conservation on the Monument</p>
                                  </div>
                                </div>
                              </div>
                              <div data-original-height="15" class="vc_empty_space"  style="height: 15px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                              <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-medium" >
                                <div class="mkd-iwt-icon-holder">
                                  <span class="mkd-icon-shortcode normal" style="margin: 5px 0 0 0" data-color="">
                                    <i class="fa fa-users fa-3x" aria-hidden="true"></i>
                                  </span>
                                </div>
                                <div class="mkd-iwt-content-holder" >
                                  <div class="mkd-iwt-text-holder">
                                    <p class="gs-text">Expand our membership so we represent a constituency that supports the Monument</p>
                                  </div>
                                </div>
                              </div>
                              <div data-original-height="15" class="vc_empty_space"  style="height: 15px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                              <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-medium" >
                                <div class="mkd-iwt-icon-holder">
                                  <span class="mkd-icon-shortcode normal" style="margin: 5px 0 0 0" data-color="">
                                    <i class="fa fa-lightbulb-o fa-3x" style="padding-left: 9px" aria-hidden="true"></i>
                                  </span>
                                </div>
                                <div class="mkd-iwt-content-holder" >
                                  <div class="mkd-iwt-text-holder">
                                    <p class="gs-text">Increase public awareness and understanding about the Monument</p>
                                  </div>
                                </div>
                              </div>
                              <div data-original-height="15" class="vc_empty_space"  style="height: 15px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                              <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-medium" >
                                <div class="mkd-iwt-icon-holder">
                                  <span class="mkd-icon-shortcode normal" style="margin: 5px 0 0 0" data-color="">
                                    <i class="fa fa-info-circle fa-3x" style="padding-left: 3px"  aria-hidden="true"></i>
                                  </span>
                                </div>
                                <div class="mkd-iwt-content-holder" >
                                  <div class="mkd-iwt-text-holder">
                                    <p class="gs-text">Provide resources to support the Monument’s scientific, interpretive and educational programs</p>
                                  </div>
                                </div>
                              </div>
                              <div data-original-height="15" class="vc_empty_space"  style="height: 15px" >
                                <span class="vc_empty_space_inner"></span>
                              </div>
                              <div class="mkd-iwt clearfix mkd-iwt-icon-left mkd-iwt-icon-medium" >
                                <div class="mkd-iwt-icon-holder">
                                  <span class="mkd-icon-shortcode normal" style="margin: 5px 0 0 0" data-color="">
                                    <i class="fa fa-recycle fa-3x" aria-hidden="true"></i>
                                  </span>
                                </div>
                                <div class="mkd-iwt-content-holder" >
                                  <div class="mkd-iwt-text-holder">
                                    <p class="gs-text">Recruit volunteers. <strong>Come <a href="/get_involved.html" class="gs-link">get involved</a></strong></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mkd-elements-holder-item-bgrnd"  style="background-color: white"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_row-fluid mkd-section mkd-content-aligment-left" style="">
            <div class="clearfix mkd-full-section-inner">
              <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner vc_custom_1493900269925">
                  <div class="wpb_wrapper">
                    <div class="mkd-elements-holder mkd-responsive-mode-1024" >
                      <div class="mkd-elements-holder-item mkd-width-1-2 mkd-vertical-alignment-middle mkd-horizontal-alignment-center" data-item-class="mkd-elements-holder-custom-531910" data-480-600="0 10px 0 10px" >
                        <div class="mkd-elements-holder-item-inner">
                          <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-866030" style="padding: 9px 220px 8px 130px">
                            <div class="mkd-elements-holder-item-content-inner">
                              <div data-original-height="40" class="vc_empty_space"  style="height: 40" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <h3 class="gs-title-text" style="text-align: left;">The Monument</h3>
                                    </div>
                                  </div>
                                  <div data-original-height="4" class="vc_empty_space"  style="height: 4px" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <p class="gs-text" style="text-align: left;">Grand Staircase-Escalante National Monument serves an increasingly important function in an ever shrinking world. Grand Staircase Escalante Partners recognizes the Monument as a 1.9 million acre scientific laboratory that offers unparalleled research opportunities as well as uniquely rewarding visitor experiences.</br>
                                      </br>From glamorous dinosaur finds to the equally as important discoveries of site specific plant species, Grand Staircase-Escalante National Monument holds a wealth of yet to be analyzed scientific and cultural data.</br>
                                      </br>In an era of diminishing government funding for pure science, the financial role of Grand Staircase Escalante Partners is crucial in supporting both the research itself and the efforts to educate both students and the public about the vital role this unspoiled landscape plays in helping us understand a world that grows more complex every day.</p>
                                    </div>
                                  </div>
                                  <div data-original-height="20" class="vc_empty_space"  style="height: 20" >
                                    <span class="vc_empty_space_inner"></span>
                                  </div>
                            </div>
                          </div>
                        </div>
                        <div class="mkd-elements-holder-item-bgrnd"  style="background-color: white"></div>
                      </div>
                      <div class="mkd-elements-holder-item mkd-width-1-2 mkd-vertical-alignment-middle mkd-horizontal-alignment-center" data-item-class="mkd-elements-holder-custom-866030" data-1280-1440="9px 15%" data-1024-1280="9px 80px" data-768-1024="9px 150px 8px 150px" data-600-768="40px 65px 40px 65px" data-480="0 40px 0 40px" >
                        <div class="mkd-elements-holder-item-inner">
                          <div class="mkd-elements-holder-item-content mkd-elements-holder-custom-531910" style="padding: 284px 100px">
                            <div class="mkd-elements-holder-item-content-inner">
                            </div>
                          </div>
                        </div>
                        <div class="mkd-elements-holder-item-bgrnd"  style="background-image: url(/images/East_Cove_Tim_Peterson.jpg)"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- close div.content_inner -->
</div>  <!-- close div.content -->

<%= partial "bottom" %>