---
title: ERWP|Grand Staircase Escalante Partners
---


<%= partial "top" %>


<div class="mkd-content" >
  <div class="mkd-content-inner">   
    <div class="mkd-container">
      <div class="mkd-container-inner clearfix">
        <div class="small-images mkd-portfolio-single-holder">
          <div class="mkd-two-columns-66-33 clearfix">
            <div class="mkd-column1">
              <div class="mkd-column-inner">
                <div class="mkd-portfolio-media">
                  <div class="mkd-portfolio-single-media">
										<a title="" data-rel="prettyPhoto[single_pretty_photo]" href="/images/ERWP2.jpg">
											<img src="images/ERWP2.jpg" alt="erwp"/>
										</a>
									</div>
									<div class="mkd-portfolio-single-media">
										<a title="water" data-rel="prettyPhoto[single_pretty_photo]" href="/images/creek.jpg">
											<img src="images/creek.jpg" alt="a"/>
										</a>
									</div>
									<div class="mkd-portfolio-single-media">
										<a title="" data-rel="prettyPhoto[single_pretty_photo]" href="/images/ERWP3.jpg">
											<img src="images/ERWP3.jpg" alt="a"/>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="mkd-column2">
							<div class="mkd-column-inner">
								<div class="mkd-portfolio-info-holder">
									<div class="mkd-portfolio-content">
										<div class="mkd-portfolio-info-item">
											<h1 class="mkd-portfolio-item-title gs-title-text">Escalante River Watershed Project</h1>
											<div class="mkd-portfolio-item-categories gs-subhdr-text">
												<h6>Restoration</h6>
											</div>
											<div class="mkd-portfolio-item-content">
												<div class="vc_row wpb_row vc_row-fluid mkd-section mkd-content-aligment-left" style="">
													<div class="clearfix mkd-full-section-inner">
														<div class="wpb_column vc_column_container vc_col-sm-12">
															<div class="vc_column-inner ">
																<div class="wpb_wrapper">
																	<div class="wpb_text_column wpb_content_element " >
																		<div class="wpb_wrapper">
																			<p class="gs-text">The Escalante River, a unique ribbon of green, winds through a vast desert landscape and is a vital source of water for both natural communities and the residents of the towns of Boulder and Escalante.  In 2010, Partners joined a multi-jurisdictional effort to restore the Escalante Watershed and is a key partner in the Escalante River Watershed Project.</br>
                                      </br>In 2015, ERWP had their largest presence yet with 80 crew members removing about 7 miles of invasive species from the riverbank. They’re right on track to finish in 2018, too.Last year, The Nature Conservancy of Utah presented ERWP with their Conservation Partnership Award, the Utah Chapter’s highest honor.</p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>				
									</div>
									<div class="mkd-portfolio-fields">
										<div class="mkd-portfolio-info-item mkd-portfolio-custom-field clearfix">
											<h6 class="gs-text" style="color: black">Partners</h6>
											<p class="gs-text">Volunteers	and participants in the Escalante River Watershep Partnership							</p>
										</div>
										<div class="mkd-portfolio-info-item mkd-portfolio-custom-field clearfix">
											<h6 class="gs-text" style="color: black">Services</h6>
											<p class="gs-text">Restoration of habitats and removal of invasive species								</p>
										</div>
										<div class="mkd-portfolio-info-item mkd-portfolio-custom-field clearfix">
											<h6 class="gs-text" style="color: black">Link</h6>
											<p class="gs-text">
												<a href="http://escalanteriverwatershedpartnership.org/" target="_blank"><span class="gs-link">Escalante River Watershed Partnership</span>									</a>
											</p>
										</div>
										<div class="mkd-portfolio-info-item mkd-portfolio-date clearfix">
											<h6 class="gs-text" style="color: black">Volunteer</h6>
											<p class="gs-text">Follow the link above for more details</p>
										</div>
										<div class="mkd-portfolio-item-social">
											<div class="mkd-portfolio-single-share-holder">
												<span class="mkd-share-label gs-text">
													Share			    </span>
													<div class="mkd-social-share-holder mkd-list">
														<span class="mkd-social-share-label gs-text">share</span>
														<ul>
                            <li class="mkd-facebook-share ">
                              <a class="mkd-share-link" href="#" onclick="">
                                <span class="mkd-social-network-icon fa fa-facebook"></span>
                              </a> 
                            </li>
                          </ul>
                        </div>    
                      </div>
                    </div>
                  </div>
                  <div class="mkd-separator gs-separator">
                  </div>
                  <div class="mkd-portfolio-content">
                    <div class="mkd-portfolio-info-item">
                      <div class="mkd-portfolio-item-categories">
                        <h6 class="gs-title-text">Notable Volunteers</h6>
                      </div>
                      <div class="mkd-portfolio-item-content">
                        <div class="vc_row wpb_row vc_row-fluid mkd-section mkd-content-aligment-left" style="">
                          <div class="clearfix mkd-full-section-inner">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                              <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <p class="gs-text">This January, ERWP Project Coordinator Kristina Waggoner was honored as a finalist for the 21st Century Conservation Service Corps Champion of the Year for 2016.</br>
                                      </br>Kris has been involved in Russian olive and other invasive species removal since before the Partnership formed. Today, on behalf of Partners, she works closely with public lands managers to oversee the ERWP’s Escalante River Restoration Project.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>        
                  </div>
                </div>
              </div>
            </div>
          </div>        
        </div>
      </div>
      <div class="mkd-portfolio-single-nav">
        <div class="mkd-container-inner clearfix">
          <div class="mkd-portfolio-prev mkd-single-nav-with-image">
            <div class="mkd-single-nav-icon-holder">
              <a href="/paleontology.html">
                <i class="fa fa-arrow-left arrow-icon" aria-hidden="true"></i>                       
              </a>
            </div>
            <div class="mkd-single-nav-content-holder">
              <h6 class="gs-text">
                <a href="/paleontology.html">Paleontology                            </a>
              </h6>
            </div>
          </div>
          <div class="mkd-portfolio-back-btn gs-text">
            <a href="/programs.html">Programs                    </a>
          </div>
          <div class="mkd-portfolio-next mkd-single-nav-with-image">
            <div class="mkd-single-nav-content-holder">
              <h6 class="gs-text">
                <a href="/frontier.html">Frontier                            </a>
              </h6>
            </div>
            <div class="mkd-single-nav-icon-holder">
              <a href="/frontier.html">
                <i class="fa fa-arrow-right arrow-icon" aria-hidden="true"></i>                      
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- close div.content_inner -->
</div>  <!-- close div.content -->

<%= partial "bottom" %>
