---
title: Oral History | Grand Staircase Escalante Partners
---


<%= partial "top" %>


<div class="mkd-content" >
  <div class="mkd-content-inner">
    <div class="mkd-container">
      <div class="mkd-container-inner clearfix">
        <div class="small-images mkd-portfolio-single-holder">
          <div class="mkd-two-columns-66-33 clearfix">
            <div class="mkd-column1">
              <div class="mkd-column-inner">
                <div class="mkd-portfolio-media">
                  <div class="mkd-portfolio-single-media">
                    <a title="" data-rel="prettyPhoto[single_pretty_photo]" href="/images/oral_history.jpg">
                      <img src="images/oral_history.jpg" alt="erwp"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="mkd-column2">
              <div class="mkd-column-inner">
                <div class="mkd-portfolio-info-holder">
                  <div class="mkd-portfolio-content">
                    <div class="mkd-portfolio-info-item">
                      <h1 class="mkd-portfolio-item-title gs-title-text">Southern Utah Oral History</h1>
                      <div class="mkd-portfolio-item-categories gs-subhdr-text">
                        <h6>Education and Records</h6>
                      </div>
                      <div class="mkd-portfolio-item-content">
                        <div class="vc_row wpb_row vc_row-fluid mkd-section mkd-content-aligment-left" style="">
                          <div class="clearfix mkd-full-section-inner">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                              <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <p class="gs-text">This oral history project was among the Monument’s first initiatives. Since 1998, historians have gathered nearly 300 interviews from longtime residents, documenting cultural ties to wild country in and around the Monument. In 2010, Partners helped add two dozen more histories, all of which can be accessed at Southern Utah University’s Sherratt Library by clicking <a href="http://library.suu.edu/c.php?g=611406&p=4244775" class="gs-link">here</a>.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mkd-portfolio-fields">
                    <div class="mkd-portfolio-info-item mkd-portfolio-custom-field clearfix">
                      <h6 class="gs-text" style="color: black">Partners</h6>
                      <p class="gs-text">Southern Utah University             </p>
                    </div>
                    <div class="mkd-portfolio-info-item mkd-portfolio-custom-field clearfix">
                      <h6 class="gs-text" style="color: black">Services</h6>
                      <p class="gs-text">Consolidation of scientific record keeping for educational purposes                </p>
                    </div>
                    <div class="mkd-portfolio-info-item mkd-portfolio-custom-field clearfix">
                      <h6 class="gs-text" style="color: black">Link</h6>
                      <p class="gs-text">
                        <a href="http://library.suu.edu/c.php?g=611406&p=4244775" target="_blank"><span class="gs-link">Sherratt Library</span>                 </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mkd-portfolio-single-nav">
        <div class="mkd-container-inner clearfix">
          <div class="mkd-portfolio-prev mkd-single-nav-with-image">
            <div class="mkd-single-nav-icon-holder">
              <a href="/native_plant.html">
                <i class="fa fa-arrow-left arrow-icon" aria-hidden="true"></i>
              </a>
            </div>
            <div class="mkd-single-nav-content-holder">
              <h6 class="gs-text">
                <a href="/native_plant.html">Digital Library                           </a>
              </h6>
            </div>
          </div>
          <div class="mkd-portfolio-back-btn gs-text">
            <a href="/programs.html">Programs                    </a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- close div.content_inner -->
</div>  <!-- close div.content -->

<%= partial "bottom" %>
