---
title: Native Plant Restoration|Grand Staircase Escalante Partners
---


<%= partial "top" %>

<div class="mkd-content" >
  <div class="mkd-content-inner">   
    <div class="mkd-container">
      <div class="mkd-container-inner clearfix">
        <div class="small-slider mkd-portfolio-single-holder">
          <div class="mkd-two-columns-66-33 clearfix">
            <div class="mkd-column1">
              <div class="mkd-column-inner">
                <div class="mkd-portfolio-media mkd-slick-slider">
                  <div class="mkd-portfolio-single-media">
                    <a title="" data-rel="prettyPhoto[single_pretty_photo]" href="/images/veg_restoration.jpg">
                      <img src="images/veg_restoration.jpg" alt="a"/>
                    </a>
                  </div>
                  <div class="mkd-portfolio-single-media">
                    <a title="" data-rel="prettyPhoto[single_pretty_photo]" href="/images/veg_restoration2.jpg">
                      <img src="images/veg_restoration2.jpg" alt="a"/>
                    </a>
                  </div>
                  <div class="mkd-portfolio-single-media">
                    <a title="" data-rel="prettyPhoto[single_pretty_photo]" href="/images/veg_restoration3.jpg">
                      <img src="images/veg_restoration3.jpg" alt="a"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="mkd-column2">
              <div class="mkd-column-inner">
                <div class="mkd-portfolio-info-holder">
                  <div class="mkd-portfolio-content">
                    <div class="mkd-portfolio-info-item">
                      <h1 class="mkd-portfolio-item-title gs-title-text">Native Plant Restoration</h1>
                      <div class="mkd-portfolio-item-categories gs-subhdr-text">
                        <h6>Restoring Habitats</h6>
                      </div>
                      <div class="mkd-portfolio-item-content">
                        <div class="vc_row wpb_row vc_row-fluid mkd-section mkd-content-aligment-left" style="">
                          <div class="clearfix mkd-full-section-inner">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                              <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element " >
                                    <div class="wpb_wrapper">
                                      <p class="gs-text">A joint venture with local schools and the Bureau of Land Management, this Partners’ project aims to restore native vegetation on sites in or near Grand Staircase-Escalante National Monument. In 2013, the Captain Planet Foundation and the PBS program “This American Land” collaborated to produce a video about our efforts that is available to view <a href="http://www.captainplanetfoundation.org/thisamericanland/" class="gs-link">here</a> (scroll down to the Native Plant Restoration Project).</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>        
                  </div>
                  <div class="mkd-portfolio-fields">
                    <div class="mkd-portfolio-info-item mkd-portfolio-custom-field clearfix">
                      <h6 class="gs-text" style="color: black">Partners</h6>
                      <p class="gs-text">Bureau of Land Management and local schools             </p>
                    </div>
                    <div class="mkd-portfolio-info-item mkd-portfolio-custom-field clearfix">
                      <h6 class="gs-text" style="color: black">Services</h6>
                      <p class="gs-text">Educate and connect future generations to the area                </p>
                    </div>
                    <div class="mkd-portfolio-info-item mkd-portfolio-custom-field clearfix">
                      <h6 class="gs-text" style="color: black">Link to Video</h6>
                      <p class="gs-text">
                        <a href="http://www.captainplanetfoundation.org/thisamericanland/" target="_blank"><span class="gs-link">This American Land</span>                 </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>        
        </div>
      </div>
      <div class="mkd-portfolio-single-nav">
        <div class="mkd-container-inner clearfix">
          <div class="mkd-portfolio-prev mkd-single-nav-with-image">
            <div class="mkd-single-nav-icon-holder">
              <a href="/frontier.html">
                <i class="fa fa-arrow-left arrow-icon" aria-hidden="true"></i>                       
              </a>
            </div>
            <div class="mkd-single-nav-content-holder">
              <h6 class="gs-text">
                <a href="/frontier.html">Frontier                            </a>
              </h6>
            </div>
          </div>
          <div class="mkd-portfolio-back-btn gs-text">
            <a href="/programs.html">Programs                    </a>
          </div>
          <div class="mkd-portfolio-next mkd-single-nav-with-image">
            <div class="mkd-single-nav-content-holder">
              <h6 class="gs-text">
                <a href="/library.html">Research Library                            </a>
              </h6>
            </div>
            <div class="mkd-single-nav-icon-holder">
              <a href="/library.html">
                <i class="fa fa-arrow-right arrow-icon" aria-hidden="true"></i>                      
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- close div.content_inner -->
</div>  <!-- close div.content -->

<%= partial "bottom" %>
