---
title: Site Stewards|Grand Staircase Escalante Partners
---


<%= partial "top" %>

<!--
<a id="mkd-back-to-top" href='#'>
	<span class="mkd-back-to-top-icon">
		<i class="mkd-icon-ion-icon ion-chevron-up " ></i>
	</span>
</a>-->
<div class="mkd-content" >
	<div class="mkd-content-inner">		
		<div class="mkd-container">
			<div class="mkd-container-inner clearfix">
				<div class="small-images mkd-portfolio-single-holder">
					<div class="mkd-two-columns-66-33 clearfix">
						<div class="mkd-column1">
							<div class="mkd-column-inner">
								<div class="mkd-portfolio-media">
									<div class="mkd-portfolio-single-media">
										<a title="cow" data-rel="prettyPhoto[single_pretty_photo]" href="images/site_stewards.jpg">
											<img src="images/site_stewards.jpg" alt="cow"/>
										</a>
									</div>
									<div class="mkd-portfolio-single-media">
										<a title="" data-rel="prettyPhoto[single_pretty_photo]" href="images/site_stewards2.jpg">
											<img src="images/site_stewards2.jpg" alt=""/>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="mkd-column2">
							<div class="mkd-column-inner">
								<div class="mkd-portfolio-info-holder">
									<div class="mkd-portfolio-content">
										<div class="mkd-portfolio-info-item">
											<h1 class="mkd-portfolio-item-title">Site Stewards</h1>
											<div class="mkd-portfolio-item-categories">
											<h6>Ecology, Habitats, Preservation</h6>
										</div>
										<div class="mkd-portfolio-item-content">
											<div class="vc_row wpb_row vc_row-fluid mkd-section mkd-content-aligment-left" style="">
												<div class="clearfix mkd-full-section-inner">
													<div class="wpb_column vc_column_container vc_col-sm-12">
														<div class="vc_column-inner ">
															<div class="wpb_wrapper">
																<div class="wpb_text_column wpb_content_element " >
																	<div class="wpb_wrapper">
																		<p>In an effort to reduce damage to archaeological and paleontological sites in the Monument, Partners designed and coordinates the Site Steward Program. Volunteers are trained to inspect their assigned sites for signs of damage caused by natural erosion, animal activity, looting, or vandalism. Findings are reported to a Grand Staircase-Escalante National Monument archaeologist or to law enforcement.</br>
																		</br>Site Stewards have been trained in the proper procedures for monitoring and recording sites and monitor sites in Kane County and the Escalante area of Garfield County. These sites include rock art panels, habitations, storage granaries, and even an historic town site. Seven paleontological sites have been added to the monitoring program as well.</br>
																		</br>The volunteers who make this program possible are major contributors to the protection of Utah’s invaluable cultural and scientific resources. <strong>For information about the program or to volunteer, contact Jeff Frey at (435) 644-1306 or jefffrey@gsenm.org.</strong>
																		</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="mkd-portfolio-author-holder clearfix">
									<div class="mkd-portfolio-fields">
										<div class="mkd-portfolio-info-item mkd-portfolio-custom-field clearfix">
											<h6>Partner</h6>
											<p>Volunteers								</p>
										</div>
										<div class="mkd-portfolio-info-item mkd-portfolio-custom-field clearfix">
											<h6>Services</h6>
											<p>Maintenance and restoration								</p>
										</div><!--
										<div class="mkd-portfolio-info-item mkd-portfolio-custom-field clearfix">
											<h6>Link</h6>
											<p>
												<a href="http://us.whales.org/" target="_blank">www.us.whales.org									</a>
											</p>
										</div>
										<div class="mkd-portfolio-info-item mkd-portfolio-date clearfix">
											<h6>Date</h6>
											<p>11.05.2017.</p>
										</div>-->
										<div class="mkd-portfolio-item-social">
											<div class="mkd-portfolio-single-share-holder">
												<span class="mkd-share-label">Share			    </span>
												<div class="mkd-social-share-holder mkd-list">
													<span class="mkd-social-share-label">share</span>
													<ul>
														<li class="mkd-facebook-share ">
															<a class="mkd-share-link" href="#">
																<i class="fa fa-facebook-official" aria-hidden="true"></i>
															</a>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>				
				</div>
			</div>
			<div class="mkd-portfolio-single-nav">
        <div class="mkd-container-inner clearfix">
          <div class="mkd-portfolio-back-btn gs-text">
          	<a href="/programs.html">Programs                    </a>
          </div>
          <div class="mkd-portfolio-next mkd-single-nav-with-image">
          	<div class="mkd-single-nav-content-holder gs-text">
              <h6>
                <a href="/paleontology.html">Paleontology                          </a>
              </h6>
            </div><!--
            <div class="mkd-single-nav-icon-holder">
            	<a href="http://ecologist.mikado-themes.com/portfolio-item/animals-matter/">
            		<span aria-hidden="true" class="mkd-icon-font-elegant arrow_right " ></span>                        
            	</a>
            </div>-->
          </div>
        </div>
    	</div>
		</div>
	</div> <!-- close div.content_inner -->
</div>  <!-- close div.content -->

<%= partial "bottom" %>